Repository mudler/LocalAI, pull requests merged in 2023-11, with the labels that each got.

#1289 fix: respect OpenAI spec for response format
  api/openai/chat.go
  api/openai/completion.go
  api/openai/image.go
  api/schema/openai.go
Labels: bug

#1290 feat: allow to run parallel requests
  .env
  api/backend/options.go
  api/localai/backend_monitor.go
  api/options/options.go
  main.go
  pkg/model/initializers.go
  pkg/model/loader.go
  pkg/model/options.go
  pkg/model/process.go
Labels: enhancement

#1287 refactor: rename llama-stable to llama-ggml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  Makefile
  api/api_test.go
  backend/go/llm/llama-ggml/llama.go
  backend/go/llm/llama-ggml/main.go
  pkg/model/initializers.go
Labels: breaking-change

#1303 llava.yaml (yaml format standardization)
  examples/configurations/llava/llava.yaml
Labels: kind/documentation

#1308 feat(transformers): add embeddings with Automodel
  .github/workflows/test.yml
  Dockerfile
  Makefile
  api/api_test.go
  backend/python/huggingface/README.md
  backend/python/sentencetransformers/Makefile
  backend/python/sentencetransformers/README.md
  backend/python/sentencetransformers/backend_pb2.py
  backend/python/sentencetransformers/backend_pb2_grpc.py
  backend/python/sentencetransformers/run.sh
  backend/python/sentencetransformers/sentencetransformers.py
  backend/python/sentencetransformers/sentencetransformers.yml
  backend/python/sentencetransformers/test.sh
  backend/python/sentencetransformers/test_sentencetransformers.py
  backend/python/transformers/Makefile
  backend/python/transformers/README.md
  backend/python/transformers/backend_pb2.py
  backend/python/transformers/backend_pb2_grpc.py
  backend/python/transformers/run.sh
  backend/python/transformers/test.sh
  backend/python/transformers/test_transformers.py
  backend/python/transformers/transformers.py
  backend/python/transformers/transformers.yml
Labels: enhancement

#1309 ci(core): add -core images without python deps
  .github/workflows/image.yml
Labels: enhancement

#1325 docs: Update Features->Embeddings page to reflect backend restructuring
  docs/content/features/embeddings.md
Labels: kind/documentation

#1328 fix: handle grpc and llama-cpp with REBUILD=true
  Dockerfile
  Makefile
Labels: bug

#1334 fix: propagate CMAKE_ARGS when building grpc
  Makefile
Labels: bug

#1341 feat: initial watchdog implementation
  .env
  api/api.go
  api/localai/backend_monitor.go
  api/options/options.go
  main.go
  pkg/grpc/client.go
  pkg/model/initializers.go
  pkg/model/loader.go
  pkg/model/process.go
  pkg/model/watchdog.go
Labels: enhancement
