Repository mudler/LocalAI, pull requests merged in 2023-12, with the labels that each got.

#1342 docs: site/how-to clean up
  docs/content/faq/_index.en.md
  docs/content/getting_started/_index.en.md
  docs/content/howtos/_index.md
  docs/content/howtos/autogen-setup.md
  docs/content/howtos/easy-model.md
  docs/content/howtos/easy-request-autogen.md
  docs/content/howtos/easy-request-curl.md
  docs/content/howtos/easy-request-openai-v0.md
  docs/content/howtos/easy-request-openai-v1.md
  docs/content/howtos/easy-request.md
  docs/content/howtos/easy-setup-docker-cpu.md
  docs/content/howtos/easy-setup-docker-gpu.md
  docs/content/model-compatibility/_index.en.md
  docs/content/models/_index.en.md
Labels: How To (FIxes), How To (Updates)

#1377 fix(vall-e-x): correctly install reqs in environment
  Dockerfile
  backend/python/vall-e-x/Makefile
  backend/python/vall-e-x/install.sh
  backend/python/vall-e-x/run.sh
  docs/content/advanced/_index.en.md
Labels: bug, high prio

#1381 Added Check API KEYs file to API.go
  api/api.go
Labels: enhancement

#1399 docs: site update fixing old image text / How To update updating GPU and CPU docker pages
  docs/content/getting_started/_index.en.md
  docs/content/howtos/easy-setup-docker-cpu.md
  docs/content/howtos/easy-setup-docker-gpu.md
Labels: kind/documentation, How To (Updates)

#1417 How To Updates / Model Used Switched / Removed "docker-compose" (RIP)
  docs/content/getting_started/_index.en.md
  docs/content/howtos/_index.md
  docs/content/howtos/easy-model.md
  docs/content/howtos/easy-setup-docker-cpu.md
  docs/content/howtos/easy-setup-docker-gpu.md
Labels: kind/documentation, How To (Updates)

#1412 docs: add aikit to integrations
  README.md
  docs/content/integrations/AIKit.md
Labels: kind/documentation, twitter/shout-out, community-integrations

#1432 feat(diffusers): update, add autopipeline, controlnet
  Makefile
  api/backend/image.go
  api/config/config.go
  backend/backend.proto
  backend/python/autogptq/backend_pb2.py
  backend/python/bark/backend_pb2.py
  backend/python/diffusers/backend_diffusers.py
  backend/python/diffusers/backend_pb2.py
  backend/python/diffusers/test.py
  backend/python/exllama/backend_pb2.py
  backend/python/exllama2/backend_pb2.py
  backend/python/petals/backend_pb2.py
  backend/python/sentencetransformers/backend_pb2.py
  backend/python/transformers-musicgen/backend_pb2.py
  backend/python/transformers/backend_pb2.py
  backend/python/vall-e-x/backend_pb2.py
  backend/python/vllm/backend_pb2.py
  pkg/grpc/proto/backend.pb.go
  pkg/grpc/proto/backend_grpc.pb.go
Labels: enhancement

#1449 docs(mixtral): add mixtral example
  examples/configurations/README.md
  examples/configurations/mixtral/mixtral
  examples/configurations/mixtral/mixtral-chat
  examples/configurations/mixtral/mixtral.yaml
Labels: examples

#1448 feat(alias): alias llama to llama-cpp, update docs
  docs/content/model-compatibility/_index.en.md
  docs/content/model-compatibility/llama-cpp.md
  pkg/model/initializers.go
Labels: breaking-change

#1452 feat: inline templates and accept URLs in models
  api/api.go
  api/api_test.go
  api/config/config.go
  api/openai/chat.go
  api/openai/completion.go
  api/openai/edit.go
  pkg/gallery/models.go
  pkg/model/loader.go
  pkg/utils/uri.go
Labels: enhancement

#1456 How To (Updates and Fixes)
  docs/content/howtos/_index.md
  docs/content/howtos/easy-setup-docker-cpu.md
  docs/content/howtos/easy-setup-docker.md
  docs/content/howtos/easy-setup-embeddings.md
  docs/content/howtos/easy-setup-sd.md
Labels: kind/documentation, How To (FIxes), How To (Updates)

#1488 fix: guidance_scale not work in sd
  backend/python/diffusers/backend_diffusers.py
Labels: bug

#1489 feat: add 🐸 coqui
  .github/workflows/test-extra.yml
  Dockerfile
  Makefile
  README.md
  backend/python/common-env/transformers/transformers-nvidia.yml
  backend/python/common-env/transformers/transformers.yml
  backend/python/coqui/Makefile
  backend/python/coqui/README.md
  backend/python/coqui/backend_pb2.py
  backend/python/coqui/backend_pb2_grpc.py
  backend/python/coqui/coqui_server.py
  backend/python/coqui/run.sh
  backend/python/coqui/test.py
  backend/python/coqui/test.sh
  docs/content/_index.en.md
Labels: enhancement

#1486 feat: partial download
  pkg/utils/uri.go
Labels: enhancement

#1514 fix(download): correctly check for not found error
  api/config/config.go
  pkg/utils/uri.go
Labels: bug
