Repository mudler/LocalAI, pull requests merged in 2023-07, with the labels that each got.

#752 feat: add llama-master backend
  .github/workflows/bump_deps.yaml
  Makefile
  api/api_test.go
  cmd/grpc/llama-master/main.go
  go.mod
  pkg/grpc/llm/llama-master/llama.go
  pkg/model/initializers.go
Labels: enhancement

#792 feat: cancel stream generation if client disappears
  api/backend/llm.go
  api/openai/api.go
  api/openai/chat.go
  api/openai/completion.go
  api/openai/edit.go
  api/openai/embeddings.go
  api/openai/image.go
  api/openai/inference.go
  api/openai/request.go
  api/openai/transcription.go
  pkg/model/initializers.go
  pkg/model/loader.go
Labels: enhancement

#797 feat: add rope settings and negative prompt, drop grammar backend
  .github/workflows/bump_deps.yaml
  Makefile
  api/api_test.go
  api/backend/options.go
  api/config/prediction.go
  api/openai/request.go
  cmd/grpc/llama-grammar/main.go
  extra/grpc/huggingface/backend_pb2.py
  go.mod
  go.sum
  pkg/grpc/llm/llama-grammar/llama.go
  pkg/grpc/llm/llama/llama.go
  pkg/grpc/proto/backend.pb.go
  pkg/grpc/proto/backend.proto
  pkg/model/initializers.go
Labels: enhancement, breaking-change

#846 fix(gallery): preload from file should by in YAML format
  api/localai/gallery.go
  pkg/gallery/gallery.go
Labels: bug
