Repository mudler/LocalAI, pull requests merged in 2023-06, with the labels that each got.

#446 feat: add LangChainGo Huggingface backend
  .dockerignore
  .gitignore
  api/prediction.go
  examples/langchain-huggingface/README.md
  examples/langchain-huggingface/docker-compose.yml
  examples/langchain-huggingface/models/completion.tmpl
  examples/langchain-huggingface/models/gpt-3.5-turbo.yaml
  examples/langchain-huggingface/models/gpt4all.tmpl
  go.mod
  go.sum
  pkg/langchain/huggingface.go
  pkg/langchain/langchain.go
  pkg/model/initializers.go
Labels: enhancement

#447 feat: Add new test cases for LoadConfigs
  Makefile
  api/config.go
  api/config_test.go
Labels: area/golang, area/test

#472 feat: Update gpt4all, support multiple implementations in runtime
  .gitignore
  Makefile
  api/api.go
  api/api_test.go
  api/backend_assets.go
  api/options.go
  assets.go
  go.mod
  go.sum
  main.go
  pkg/assets/extract.go
  pkg/model/initializers.go
Labels: breaking-change

#474 feat: Enable stablediffusion by default in container images
  Dockerfile
Labels: enhancement

#475 fix: Bump and fix rwkv build
  Makefile
Labels: bug

#465 feat: add support for `Stream: true` to completionEndpoint
  api/openai.go
Labels: enhancement

#494 deps: update rwkv, switch back to upstream
  Makefile
Labels: dependencies

#503 fix: downgrade gpt4all
  Makefile
  api/api_test.go
Labels: bug

#509 feat: support upscaled image generation with esrgan
  Makefile
  go.mod
  pkg/stablediffusion/generate.go
Labels: enhancement

#516 feat: add experimental support for falcon-7b
  Makefile
  api/api_test.go
  api/prediction.go
  pkg/model/initializers.go
Labels: enhancement

#543 feat: display download progress when installing models
  api/gallery.go
  pkg/gallery/models.go
  pkg/gallery/models_test.go
Labels: enhancement

#547 examples(telegram): add
  examples/README.md
  examples/telegram-bot/README.md
  examples/telegram-bot/docker-compose.yml
Labels: examples

#592 deps: update gpt4all bindings, fix search path on new versions
  Makefile
  api/api.go
  api/backend_assets.go
  api/openai.go
  api/prediction.go
  examples/flowise/README.md
  pkg/model/initializers.go
Labels: dependencies

#618 feat: fix CUDA images and update go-llama to use full GPU offloading
  .github/workflows/test.yml
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: enhancement

#649 feat: add tts with go-piper
  Dockerfile
  Makefile
  api/api.go
  api/localai.go
  api/options.go
  entrypoint.sh
  go.mod
  main.go
  pkg/gallery/models.go
  pkg/model/initializers.go
  pkg/tts/generate.go
  pkg/tts/generate_unsupported.go
  pkg/tts/piper.go
  pkg/utils/path.go
Labels: enhancement

#680 fix: return index and delta in stream token
  api/openai.go
Labels: bug

#684 feat: update llama, enable NUMA
  Makefile
  api/config.go
  api/prediction.go
Labels: enhancement
