Repository mudler/LocalAI, pull requests merged in 2023-08, with the labels that each got.

#864 fix: do not break on newlines on function returns
  api/openai/chat.go
  pkg/utils/json.go
Labels: bug

#872 fix: upgrade pip
  Dockerfile
Labels: bug

#881 feat: Add exllama
  Dockerfile
  extra/grpc/exllama/backend_pb2.py
  extra/grpc/exllama/backend_pb2_grpc.py
  extra/grpc/exllama/exllama.py
Labels: enhancement

#929 fix: disable usage by default (still experimental)
  api/backend/llm.go
  api/config/config.go
Labels: bug

#932 feat: add llama-stable backend
  Makefile
  cmd/grpc/llama-stable/main.go
  pkg/backend/llm/llama-stable/llama.go
  pkg/model/initializers.go
Labels: high prio

#938 feat: backend monitor shutdown endpoint, process based
  api/api.go
  api/localai/backend_monitor.go
  pkg/model/loader.go
Labels: enhancement

#942 initial draft of an importable Insomnia profile for developers
  examples/insomnia/Insomnia_LocalAI.json
  examples/insomnia/README.md
Labels: kind/documentation

#943 feat: bump llama.cpp, add gguf support
  .github/workflows/release.yaml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  api/api_test.go
  go.mod
  pkg/backend/llm/llama/llama.go
Labels: breaking-change, high prio

#955 feat: Allow to load lora adapters for llama.cpp
  Makefile
  api/backend/options.go
  api/config/config.go
  extra/grpc/autogptq/backend_pb2.py
  extra/grpc/bark/backend_pb2.py
  extra/grpc/diffusers/backend_pb2.py
  extra/grpc/exllama/backend_pb2.py
  extra/grpc/huggingface/backend_pb2.py
  pkg/backend/llm/llama/llama.go
  pkg/grpc/proto/backend.pb.go
  pkg/grpc/proto/backend.proto
  pkg/grpc/proto/backend_grpc.pb.go
Labels: enhancement

#965 feat(diffusers): Add lora
  api/backend/image.go
  extra/grpc/diffusers/backend_diffusers.py
Labels: enhancement

#964 fix(llama): resolve lora adapters correctly from the model file
  pkg/backend/llm/llama/llama.go
Labels: bug

#980 fix(deps): update go-llama.cpp
  Makefile
  api/api_test.go
Labels: dependencies, high prio

#983 feat: expose all the jobs via `/models/jobs` endpoint
  api/api.go
  api/localai/gallery.go
Labels: enhancement
