Repository mudler/LocalAI, pull requests merged in 2023-05, with the labels that each got.

#309 fix: missing model path in launch.json
  .vscode/launch.json
Labels: bug

#316 feat: add PR template and stale configuration
  .github/PULL_REQUEST_TEMPLATE.md
  .github/stale.yml
Labels: kind/enhancement

#359 feat: update go-gpt2
  .github/workflows/bump_deps.yaml
  .github/workflows/release.yaml
  Makefile
  README.md
  api/prediction.go
  go.mod
  go.sum
  pkg/model/initializers.go
  tests/models_fixtures/embeddings.yaml
  tests/models_fixtures/rwkv.yaml
Labels: breaking-change

#402 Bump rwkv
  Makefile
  examples/rwkv/scripts/build.sh
Labels: breaking-change

#432 fix: switch back to upstream for rwkv bindings
  Makefile
  api/api_test.go
Labels: dependencies

#434 fix: do not build from the same container
  Dockerfile
  entrypoint.sh
Labels: bug
