Repository mudler/LocalAI, pull requests merged in 2024-07, with the labels that each got.

#2694 fix(initializer): do select backends that exist
  Dockerfile
  pkg/model/initializers.go
Labels: bug

#2705 models(gallery): add l3-8b-everything-cot
  gallery/index.yaml
Labels: area/ai-model

#2708 models(gallery): add hercules-5.0-qwen2-7b
  gallery/index.yaml
Labels: area/ai-model

#2710 models(gallery): add llama3-8b-darkidol-2.2-uncensored-1048k-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2711 models(gallery): add llama-3-llamilitary
  gallery/index.yaml
Labels: area/ai-model

#2712 models(gallery): add tess-v2.5-gemma-2-27b-alpha
  gallery/index.yaml
Labels: area/ai-model

#2713 models(gallery): add arcee-agent
  gallery/index.yaml
Labels: area/ai-model

#2714 models(gallery): add gemma2-daybreak
  gallery/index.yaml
Labels: area/ai-model

#2715 models(gallery): add L3-Stheno-Maid-Blackroot-Grand-HORROR-16B-GGUF
  gallery/index.yaml
Labels: area/ai-model

#2717 models(gallery): add qwen2-7b-instruct-v0.8
  gallery/index.yaml
Labels: area/ai-model

#2716 examples(gha): add example on how to run LocalAI in Github actions
  examples/github-actions/workflow.yml
Labels: examples

#2709 deps(whisper.cpp): update to latest commit
  Makefile
Labels: dependencies

#2719 models(gallery): add internlm2_5-7b-chat-1m
  gallery/index.yaml
Labels: area/ai-model

#2722 models(gallery): add gemma-2-9b-it-sppo-iter3
  gallery/index.yaml
Labels: area/ai-model

#2721 Allows to remove a backend from the list
  Makefile
Labels: enhancement

#2695 ci(Makefile): adds tts in binary releases
  .github/workflows/release.yaml
  Makefile
  scripts/prepare-libs.sh
Labels: enhancement

#2727 models(gallery): add llama-3_8b_unaligned_alpha
  gallery/index.yaml
Labels: area/ai-model

#2729 models(gallery): add l3-8b-lunaris-v1
  gallery/index.yaml
Labels: area/ai-model

#2734 models(gallery): add llama-3_8b_unaligned_alpha_rp_soup-i1
  .github/workflows/notify-models.yaml
  gallery/index.yaml
Labels: area/ai-model

#2738 models(gallery): add hathor_respawn-l3-8b-v0.8
  gallery/index.yaml
Labels: area/ai-model

#2739 models(gallery): add llama3-8b-instruct-replete-adapted
  gallery/index.yaml
Labels: area/ai-model

#2740 models(gallery): add llama-3-perky-pat-instruct-8b
  gallery/index.yaml
Labels: area/ai-model

#2741 models(gallery): add l3-uncen-merger-omelette-rp-v0.2-8b
  gallery/index.yaml
Labels: area/ai-model

#2742 models(gallery): add nymph_8b-i1
  gallery/index.yaml
Labels: area/ai-model

#2743 models(gallery): add smegmma-9b-v1
  gallery/index.yaml
Labels: area/ai-model

#2723 feat(p2p): Federation and AI swarms
  .github/release.yml
  Makefile
  core/cli/cli.go
  core/cli/federated.go
  core/cli/run.go
  core/cli/worker/worker_p2p.go
  core/config/application_config.go
  core/http/elements/gallery.go
  core/http/endpoints/localai/welcome.go
  core/http/routes/localai.go
  core/http/routes/ui.go
  core/http/static/assets/tw-elements.js
  core/http/static/general.css
  core/http/views/chat.html
  core/http/views/p2p.html
  core/http/views/partials/footer.html
  core/http/views/partials/navbar.html
  core/http/views/talk.html
  core/p2p/node.go
  core/p2p/p2p.go
  core/p2p/p2p_disabled.go
  docs/static/install.sh
  embedded/webui_static.yaml
Labels: enhancement, area/p2p

#2753 docs(swagger): enhance coverage of APIs
  core/http/endpoints/openai/files.go
  core/http/endpoints/openai/list.go
  core/schema/openai.go
Labels: kind/documentation

#2751 feat(p2p): allow to disable DHT and use only LAN
  core/p2p/p2p.go
  docs/content/docs/features/distributed_inferencing.md
Labels: enhancement, area/p2p

#2707 fix(cuda): downgrade default version from 12.5 to 12.4
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/image_build.yml
  .github/workflows/release.yaml
  Dockerfile
  Makefile
Labels: bug

#2566 feat: HF `/scan` endpoint
  .github/check_and_update.py
  .github/checksum_checker.sh
  core/backend/llm.go
  core/cli/models.go
  core/cli/run.go
  core/cli/util.go
  core/config/application_config.go
  core/gallery/gallery.go
  core/gallery/models.go
  core/gallery/models_test.go
  core/services/gallery.go
  core/startup/startup.go
  pkg/downloader/uri.go
  pkg/startup/model_preload.go
  pkg/startup/model_preload_test.go
Labels: enhancement, ci

#2760 feat(model-list): be consistent, skip known files from listing
  core/application.go
  core/http/ctx/fiber.go
  core/http/endpoints/elevenlabs/tts.go
  core/http/endpoints/jina/rerank.go
  core/http/endpoints/localai/tts.go
  core/http/endpoints/localai/welcome.go
  core/http/endpoints/openai/assistant.go
  core/http/endpoints/openai/chat.go
  core/http/endpoints/openai/completion.go
  core/http/endpoints/openai/edit.go
  core/http/endpoints/openai/embeddings.go
  core/http/endpoints/openai/image.go
  core/http/endpoints/openai/list.go
  core/http/endpoints/openai/request.go
  core/http/endpoints/openai/transcription.go
  core/http/routes/openai.go
  core/http/routes/ui.go
  core/http/views/chat.html
  core/http/views/talk.html
  core/services/list_models.go
  core/startup/startup.go
  pkg/model/loader.go
Labels: enhancement

#2762 models(gallery): add hathor_tahsin-l3-8b-v0.85
  gallery/index.yaml
Labels: area/ai-model

#2750 feat(models): pull models from urls
  pkg/startup/model_preload.go
  pkg/startup/model_preload_test.go
Labels: enhancement

#2776 fix(ci): small fixups to checksum_checker.sh
  .github/checksum_checker.sh
Labels: ci

#2777 fix(ci): fixup correct path for check_and_update.py
  .github/checksum_checker.sh
Labels: ci

#2778 fixes to `check_and_update.py` script
  .github/check_and_update.py
Labels: ci

#2752 feat(install.sh): support federated install
  docs/content/docs/advanced/installer.md
  docs/static/install.sh
Labels: enhancement

#2782 models(gallery): add replete-coder-instruct-8b-merged
  gallery/index.yaml
Labels: area/ai-model

#2783 models(gallery): add arliai-llama-3-8b-formax-v1.0
  gallery/index.yaml
Labels: area/ai-model

#2784 models(gallery): add smegmma-deluxe-9b-v1
  gallery/index.yaml
Labels: area/ai-model

#2785 models(gallery): add l3-ms-astoria-8b
  gallery/index.yaml
Labels: area/ai-model

#2786 models(gallery): add halomaidrp-v1.33-15b-l3-i1
  gallery/index.yaml
Labels: area/ai-model

#2788 models(gallery): add llama-3-patronus-lynx-70b-instruct
  gallery/index.yaml
Labels: area/ai-model

#2538 chore(deps): Update Dependencies
  .github/dependabot.yml
  .github/workflows/checksum_checker.yaml
  .github/workflows/generate_grpc_cache.yaml
  .github/workflows/generate_intel_image.yaml
  .github/workflows/image_build.yml
  .github/workflows/release.yaml
  .github/workflows/test-extra.yml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  backend/python/openvoice/requirements-intel.txt
  backend/python/openvoice/requirements.txt
  core/gallery/gallery.go
  core/gallery/models.go
  core/startup/config_file_watcher.go
  docs/content/docs/getting-started/build.md
  examples/chainlit/Dockerfile
  examples/chainlit/requirements.txt
  examples/functions/Dockerfile
  examples/functions/requirements.txt
  examples/k8sgpt/values.yaml
  examples/langchain-chroma/requirements.txt
  examples/langchain/JS.Dockerfile
  examples/langchain/PY.Dockerfile
  examples/langchain/langchainpy-localai-example/requirements.txt
  examples/semantic-todo/go.mod
  examples/semantic-todo/go.sum
  go.mod
  go.sum
Labels: ci

#2849 models(gallery): add llamax3
  gallery/index.yaml
Labels: area/ai-model

#2852 models(gallery): add arliai-llama-3-8b-dolfin-v0.5
  gallery/index.yaml
Labels: area/ai-model

#2853 models(gallery): add tiger-gemma-9b-v1-i1
  gallery/index.yaml
Labels: area/ai-model

#2658 feat: models(gallery): add deepseek-v2-lite
  core/config/guesser.go
  gallery/deepseek.yaml
  gallery/index.yaml
Labels: area/ai-model

#2855 chore: update edgevpn dependency
  go.mod
  go.sum
Labels: dependencies

#2857 docs: add a note on benchmarks
  docs/content/docs/faq.md
Labels: kind/documentation

#2863 models(gallery): add phi-3.1-mini-4k-instruct
  gallery/index.yaml
Labels: area/ai-model

#2871 feat(llama.cpp): support embeddings endpoints
  Makefile
  backend/cpp/llama/grpc-server.cpp
  core/backend/options.go
  core/config/backend_config.go
  docs/content/docs/advanced/advanced-usage.md
Labels: enhancement

#2891 models(gallery): add ezo model series (llama3, gemma)
  gallery/index.yaml
Labels: area/ai-model

#2895 models(gallery): add l3-8b-niitama-v1
  gallery/index.yaml
Labels: area/ai-model

#2899 ci: use github action
  .github/workflows/comment-pr.yaml
  .github/workflows/notify-models.yaml
  .github/workflows/notify-releases.yaml
  README.md
Labels: kind/documentation

#2901 models(gallery): add mathstral-7b-v0.1-imat
  gallery/index.yaml
  gallery/mathstral.yaml
Labels: area/ai-model

#2902 models(gallery): add MythicalMaid/EtherealMaid 15b
  gallery/index.yaml
Labels: area/ai-model

#2903 models(gallery): add flammenai/Mahou-1.3d-mistral-7B
  gallery/index.yaml
Labels: area/ai-model

#2907 docs: more swagger, update docs
  core/gallery/gallery.go
  core/http/endpoints/localai/gallery.go
  docs/content/docs/advanced/run-other-models.md
  docs/content/docs/getting-started/models.md
  docs/content/docs/getting-started/quickstart.md
  docs/content/docs/getting-started/try-it-out.md
Labels: kind/documentation

#2909 fix: short-circuit when nodes aren't detected
  core/cli/federated.go
  core/cli/run.go
  core/p2p/p2p.go
  core/p2p/p2p_disabled.go
Labels: bug, area/p2p

#2912 feat(functions): parse broken JSON when we parse the raw results, use dynamic rules for grammar keys
  core/http/endpoints/openai/chat.go
  core/schema/openai.go
  docs/content/docs/advanced/advanced-usage.md
  pkg/functions/functions.go
  pkg/functions/functions_test.go
  pkg/functions/grammar_json_schema.go
  pkg/functions/grammar_json_schema_test.go
  pkg/functions/parse.go
  pkg/functions/parse_test.go
Labels: enhancement

#2915 feat(federation): add load balanced option
  core/cli/federated.go
  core/p2p/federated.go
  core/p2p/federated_server.go
Labels: enhancement

#2921 models(gallery): add qwen2-wukong-7b
  gallery/index.yaml
Labels: area/ai-model

#2922 models(gallery): add einstein-v4-7b
  gallery/index.yaml
Labels: area/ai-model

#2923 models(gallery): add gemma-2b-translation-v0.150
  gallery/index.yaml
Labels: area/ai-model

#2924 models(gallery): add emo-2b
  gallery/index.yaml
Labels: area/ai-model

#2925 models(gallery): add celestev1
  gallery/index.yaml
Labels: area/ai-model

#2931 models(gallery): add tulu 8b and 70b
  gallery/index.yaml
Labels: area/ai-model

#2932 models(gallery): add suzume-orpo
  gallery/index.yaml
Labels: area/ai-model

#2933 models(gallery): add archangel_sft_pythia2-8b
  gallery/index.yaml
  gallery/tuluv2.yaml
Labels: area/ai-model

#2937 models(gallery): add celestev1.2
  gallery/index.yaml
Labels: area/ai-model

#2939 models(gallery): add calme-2.3-phi3-4b
  gallery/index.yaml
Labels: area/ai-model

#2940 models(gallery): add calme-2.8-qwen2-7b
  gallery/index.yaml
Labels: area/ai-model

#2941 models(gallery): add StellarDong-72b
  gallery/index.yaml
Labels: area/ai-model

#2942 models(gallery): add calme-2.4-llama3-70b
  gallery/index.yaml
Labels: area/ai-model

#2947 ci(Makefile): reduce binary size by compressing
  .github/workflows/release.yaml
  .github/workflows/test.yml
  Dockerfile
  Makefile
Labels: enhancement

#2999 fix(llama.cpp): do not set anymore lora_base
  backend/cpp/llama/grpc-server.cpp
Labels: bug

#3000 models(gallery): add llama3.1 70b and 8b
  gallery/index.yaml
Labels: area/ai-model

#3005 models(gallery): add llama3.1-claude
  gallery/index.yaml
Labels: area/ai-model

#3009 models(gallery): add gemmoy
  gallery/index.yaml
Labels: area/ai-model

#3010 chore: add function calling template for llama 3.1 models
  gallery/index.yaml
  gallery/llama3.1-instruct.yaml
Labels: area/ai-model

#3015 feat(grammar): add llama3.1 schema
  core/http/endpoints/openai/chat.go
  pkg/functions/function_structure.go
  pkg/functions/functions.go
  pkg/functions/functions_suite_test.go
  pkg/functions/grammars/bnf_rules.go
  pkg/functions/grammars/grammars_suite_test.go
  pkg/functions/grammars/json_schema.go
  pkg/functions/grammars/json_schema_test.go
  pkg/functions/grammars/llama31_schema.go
  pkg/functions/grammars/llama31_schema_test.go
  pkg/functions/grammars/options.go
  pkg/functions/grammars/rules.go
  pkg/functions/grammars/types.go
  pkg/functions/parse.go
Labels: enhancement

#3019 models(gallery): add mistral-nemo
  gallery/index.yaml
Labels: area/ai-model

#3018 models(gallery): add llama3.1-8b-fireplace2
  gallery/index.yaml
Labels: area/ai-model

#3020 models(gallery): add lumimaid-v0.2-12b
  gallery/index.yaml
Labels: area/ai-model

#3021 models(gallery): add darkidol-llama-3.1-8b-instruct-1.1-uncensored-iq…
  gallery/index.yaml
Labels: area/ai-model

#3022 models(gallery): add meta-llama-3.1-8b-instruct-abliterated
  gallery/index.yaml
Labels: area/ai-model

#3023 models(gallery): add llama-3.1-70b-japanese-instruct-2407
  gallery/index.yaml
Labels: area/ai-model

#3024 models(gallery): add llama-3.1-8b-instruct-fei-v1-uncensored
  gallery/index.yaml
Labels: area/ai-model

#3025 models(gallery): add openbuddy-llama3.1-8b-v22.1-131k
  gallery/index.yaml
Labels: area/ai-model

#3026 models(gallery): add lumimaid-8b
  gallery/index.yaml
Labels: area/ai-model

#3027 models(gallery): add llama3 with enforced functioncall with grammars
  gallery/index.yaml
  gallery/llama3.1-instruct-grammar.yaml
Labels: area/ai-model

#3044 models(gallery): add magnum-32b-v1
  gallery/index.yaml
Labels: area/ai-model

#3045 models(gallery): add lumimaid-v0.2-70b-i1
  gallery/index.yaml
Labels: area/ai-model

#3047 models(gallery): add l3.1-8b-llamoutcast-i1
  gallery/index.yaml
Labels: area/ai-model

#3080 models(gallery): add l3.1-8b-celeste-v1.5
  gallery/index.yaml
Labels: area/ai-model

#3082 models(gallery): add llama-guard-3-8b
  gallery/index.yaml
Labels: area/ai-model

#3083 models(gallery): add meta-llama-3-instruct-8.9b-brainstorm-5x-form-11
  gallery/index.yaml
Labels: area/ai-model

#3088 models(gallery): add sunfall-simpo
  gallery/index.yaml
Labels: area/ai-model

#3089 models(gallery): add genius-llama3.1-i1
  gallery/index.yaml
Labels: area/ai-model

#3090 models(gallery): add seeker-9b
  gallery/index.yaml
Labels: area/ai-model

#3091 models(gallery): add llama3.1-chinese-chat
  gallery/index.yaml
Labels: area/ai-model

#3092 models(gallery): add gemmasutra-pro-27b-v1
  gallery/index.yaml
Labels: area/ai-model

#3093 models(gallery): add leetwizard
  gallery/alpaca.yaml
  gallery/index.yaml
Labels: area/ai-model

#3096 models(gallery): add tarnished-9b-i1
  gallery/index.yaml
Labels: area/ai-model

#3097 models(gallery): add meta-llama-3-instruct-12.2b-brainstorm-20x-form-8
  gallery/index.yaml
Labels: area/ai-model

#3098 models(gallery): add loki-base-i1
  gallery/index.yaml
Labels: area/ai-model

#3099 models(gallery): add tifa
  gallery/index.yaml
Labels: area/ai-model
