Repository mudler/LocalAI, pull requests merged in 2024-10, with the labels that each got.

#3687 feat: Add Get Token Metrics to GRPC server
  backend/backend.proto
  backend/cpp/llama/grpc-server.cpp
  core/backend/token_metrics.go
  core/http/endpoints/localai/get_token_metrics.go
  core/schema/localai.go
  pkg/grpc/backend.go
  pkg/grpc/client.go
  pkg/grpc/embed.go
Labels: enhancement

#2773 refactor: ListModels Filtering Upgrade
  core/cli/util.go
  core/config/backend_config.go
  core/config/backend_config_filter.go
  core/config/backend_config_loader.go
  core/config/backend_config_test.go
  core/http/ctx/fiber.go
  core/http/endpoints/localai/welcome.go
  core/http/endpoints/openai/assistant.go
  core/http/endpoints/openai/list.go
  core/http/routes/ui.go
  core/services/list_models.go
Labels: enhancement

#3693 feat: track internally started models by ID
  core/backend/embeddings.go
  core/backend/image.go
  core/backend/llm.go
  core/backend/options.go
  core/backend/rerank.go
  core/backend/soundgeneration.go
  core/backend/token_metrics.go
  core/backend/transcript.go
  core/backend/tts.go
  core/cli/soundgeneration.go
  core/http/endpoints/elevenlabs/soundgeneration.go
  core/http/endpoints/jina/rerank.go
  core/http/endpoints/localai/get_token_metrics.go
  core/startup/startup.go
  pkg/model/initializers.go
  pkg/model/loader.go
  pkg/model/loader_test.go
  pkg/model/options.go
  pkg/model/process.go
  tests/e2e-aio/e2e_test.go
Labels: enhancement

#3723 chore(docs): update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kind/documentation

#3726 models(gallery): add salamandra-7b-instruct
  gallery/index.yaml
Labels: area/ai-model

#3728 feat(multimodal): allow to template placeholders
  core/config/backend_config.go
  core/http/endpoints/openai/request.go
  pkg/model/initializers.go
  pkg/templates/multimodal.go
  pkg/templates/multimodal_test.go
Labels: enhancement

#3729 feat(vllm): add support for image-to-text and video-to-text
  backend/python/vllm/backend.py
  backend/python/vllm/install.sh
  backend/python/vllm/requirements-cublas11.txt
  backend/python/vllm/requirements-cublas12.txt
  backend/python/vllm/requirements-hipblas.txt
  backend/python/vllm/requirements-intel.txt
Labels: enhancement

#3733 feat(shutdown): allow force shutdown of backends
  pkg/model/loader.go
Labels: enhancement

#3734 fix(base-grpc): close channel in base grpc server
  pkg/grpc/base/base.go
Labels: bug

#3740 models(gallery): add mn-backyardai-party-12b-v1-iq-arm-imatrix
  gallery/index.yaml
Labels: area/ai-model

#3741 models(gallery): add t.e-8.1-iq-imatrix-request
  gallery/index.yaml
Labels: area/ai-model

#3742 models(gallery): add violet_twilight-v0.2-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#3743 models(gallery): add gemma-2-9b-it-abliterated
  gallery/index.yaml
Labels: area/ai-model

#3744 fix(vllm): bump cmake - vllm requires it
  Dockerfile
  backend/python/coqui/test.py
Labels: bug

#3766 models(gallery): add moe-girl-1ba-7bt-i1
  gallery/index.yaml
Labels: area/ai-model

#3767 models(gallery): add archfunctions models
  gallery/index.yaml
Labels: area/ai-model

#3771 models(gallery): add versatillama-llama-3.2-3b-instruct-abliterated
  gallery/arch-function.yaml
  gallery/index.yaml
Labels: area/ai-model

#3772 models(gallery): add llama3.2-3b-enigma
  gallery/index.yaml
Labels: area/ai-model

#3773 models(gallery): add llama3.2-3b-esper2
  gallery/index.yaml
Labels: area/ai-model

#3774 models(gallery): add llama-3.1-swallow-70b-v0.1-i1
  gallery/index.yaml
Labels: area/ai-model

#3778 models(gallery): add rombos-llm-v2.5.1-qwen-3b
  gallery/index.yaml
Labels: area/ai-model

#3779 models(gallery): add qwen2.5-7b-ins-v3
  gallery/index.yaml
Labels: area/ai-model

#3780 models(gallery): add dans-personalityengine-v1.0.0-8b
  gallery/index.yaml
Labels: area/ai-model

#3781 models(gallery): add llama-3.2-3b-agent007
  gallery/index.yaml
Labels: area/ai-model

#3782 models(gallery): add nihappy-l3.1-8b-v0.09
  gallery/index.yaml
Labels: area/ai-model

#3783 models(gallery): add llama-3.2-3b-agent007-coder
  gallery/index.yaml
Labels: area/ai-model

#3784 models(gallery): add fireball-meta-llama-3.2-8b-instruct-agent-003-128k-code-dpo
  gallery/index.yaml
Labels: area/ai-model

#3785 models(gallery): add gemma-2-ataraxy-v3i-9b
  gallery/index.yaml
Labels: area/ai-model

#3789 fix(llama-cpp): consistently select fallback
  pkg/model/initializers.go
  pkg/model/loader_options.go
Labels: bug

#3795 chore: dependabot ignore generated grpc go package
  .github/dependabot.yml
Labels: ci

#3818 models(gallery): add llama-3_8b_unaligned_beta
  gallery/index.yaml
Labels: area/ai-model

#3819 models(gallery): add llama3.1-flammades-70b
  gallery/index.yaml
Labels: area/ai-model

#3820 models(gallery): add llama3.1-gutenberg-doppel-70b
  gallery/index.yaml
Labels: area/ai-model

#3821 models(gallery): add llama-3.1-8b-arliai-formax-v1.0-iq-arm-imatrix
  gallery/index.yaml
Labels: area/ai-model

#3822 models(gallery): add supernova-medius
  gallery/index.yaml
Labels: area/ai-model

#3823 models(gallery): add hermes-3-llama-3.1-70b-lorablated
  gallery/index.yaml
Labels: area/ai-model

#3824 models(gallery): add hermes-3-llama-3.1-8b-lorablated
  gallery/index.yaml
Labels: area/ai-model

#3825 models(gallery): add eva-qwen2.5-14b-v0.1-i1
  gallery/index.yaml
Labels: area/ai-model

#3826 models(gallery): add cursorcore-qw2.5-7b-i1
  gallery/index.yaml
Labels: area/ai-model

#3827 models(gallery): add cursorcore-qw2.5-1.5b-lc-i1
  gallery/index.yaml
Labels: area/ai-model

#3828 models(gallery): add cursorcore-ds-6.7b-i1
  gallery/index.yaml
Labels: area/ai-model

#3829 models(gallery): add cursorcore-yi-9b
  gallery/index.yaml
Labels: area/ai-model

#3830 models(gallery): add edgerunner-command-nested-i1
  gallery/index.yaml
Labels: area/ai-model

#3843 models(gallery): add llama-3.2-chibi-3b
  gallery/index.yaml
Labels: area/ai-model

#3844 models(gallery): add llama-3.2-3b-reasoning-time
  gallery/index.yaml
Labels: area/ai-model

#3845 models(gallery): add ml-ms-etheris-123b
  gallery/index.yaml
Labels: area/ai-model

#3846 models(gallery): add doctoraifinetune-3.1-8b-i1
  gallery/index.yaml
Labels: area/ai-model

#3848 models(gallery): add astral-fusion-neural-happy-l3.1-8b
  gallery/index.yaml
Labels: area/ai-model

#3849 models(gallery): add tsunami-0.5x-7b-instruct-i1
  gallery/index.yaml
Labels: area/ai-model

#3850 models(gallery): add mahou-1.5-llama3.1-70b-i1
  gallery/index.yaml
Labels: area/ai-model

#3854 models(gallery): add llama-3.1-nemotron-70b-instruct-hf
  gallery/index.yaml
Labels: area/ai-model

#3855 models(gallery): add qevacot-7b-v2
  gallery/index.yaml
Labels: area/ai-model

#3856 models(gallery): add l3.1-etherealrainbow-v1.0-rc1-8b
  gallery/index.yaml
Labels: area/ai-model

#3857 models(gallery): add phi-3.5-mini-titanfusion-0.2
  gallery/index.yaml
Labels: area/ai-model

#3859 models(gallery): add mn-lulanum-12b-fix-i1
  gallery/index.yaml
Labels: area/ai-model

#3860 models(gallery): add apollo2-9b
  gallery/index.yaml
  gallery/vicuna-chat.yaml
Labels: area/ai-model

#3861 models(gallery): add theia-llama-3.1-8b-v1
  gallery/index.yaml
Labels: area/ai-model

#3862 models(gallery): add tor-8b
  gallery/index.yaml
Labels: area/ai-model

#3864 models(gallery): add baldur-8b
  gallery/index.yaml
Labels: area/ai-model

#3865 models(gallery): add meissa-qwen2.5-7b-instruct
  gallery/index.yaml
Labels: area/ai-model

#3868 feat(templates): add sprig to multimodal templates
  pkg/templates/multimodal.go
Labels: enhancement

#3884 chore(deps): bump llama-cpp to cda0e4b648dde8fac162b3430b14a99597d3d74f
  Makefile
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#3885 fix(vllm): do not set videos if we don't have any
  backend/python/vllm/backend.py
Labels: bug

#3890 models(gallery): add phi-3 vision
  gallery/index.yaml
  gallery/phi-3-vision.yaml
Labels: area/ai-model

#3892 feat(templates): use a single template for multimodals messages
  core/config/backend_config.go
  core/http/endpoints/openai/request.go
  pkg/templates/multimodal.go
  pkg/templates/multimodal_test.go
Labels: enhancement, breaking-change

#3944 fix(phi3-vision): add multimodal template
  gallery/phi-3-vision.yaml
Labels: area/ai-model

#3943 feat(vllm): expose 'load_format'
  backend/python/vllm/backend.py
  core/backend/options.go
  core/config/backend_config.go
Labels: enhancement

#3954 fix(parler-tts): use latest audiotools
  backend/python/parler-tts/install.sh
  backend/python/parler-tts/requirements-after.txt
Labels: bug

#3960 fix(parler-tts): pin grpcio-tools
  backend/python/parler-tts/Makefile
  backend/python/parler-tts/install.sh
  backend/python/parler-tts/protogen.sh
  backend/python/parler-tts/requirements-after.txt
  backend/python/parler-tts/requirements.txt
Labels: bug

#3962 fix(gallery): overrides for parler-tts in the gallery
  gallery/index.yaml
Labels: bug, area/ai-model

#3969 models(gallery): add l3.1-moe-2x8b-v0.2
  gallery/index.yaml
Labels: area/ai-model

#3970 models(gallery): add llama3.1-darkstorm-aspire-8b
  gallery/index.yaml
Labels: area/ai-model

#3971 models(gallery): add llama-3.2-sun-2.5b-chat
  gallery/index.yaml
Labels: area/ai-model

#3973 models(gallery): add darkest-muse-v1
  gallery/index.yaml
Labels: area/ai-model

#3974 models(gallery): add llama-3.2-3b-instruct-uncensored
  gallery/index.yaml
Labels: area/ai-model

#3975 models(gallery): add thebeagle-v2beta-32b-mgs
  gallery/index.yaml
Labels: area/ai-model

#3977 models(gallery): add l3.1-70blivion-v0.1-rc1-70b-i1
  gallery/index.yaml
Labels: area/ai-model

#3978 models(gallery): add llama-3.1-hawkish-8b
  gallery/index.yaml
Labels: area/ai-model

#3980 models(gallery): add quill-v1
  gallery/index.yaml
Labels: area/ai-model

#3981 models(gallery): add delirium-v1
  gallery/index.yaml
Labels: area/ai-model

#3983 models(gallery): add magnum-v4-9b
  gallery/index.yaml
Labels: area/ai-model

#3985 models(gallery): add l3-nymeria-maid-8b
  gallery/index.yaml
Labels: area/ai-model

#4009 chore(deps): bump grpcio to 1.67.1
  backend/python/autogptq/requirements.txt
  backend/python/bark/requirements.txt
  backend/python/common/template/requirements.txt
  backend/python/coqui/requirements.txt
  backend/python/diffusers/requirements.txt
  backend/python/exllama2/requirements.txt
  backend/python/mamba/requirements.txt
  backend/python/openvoice/requirements-intel.txt
  backend/python/openvoice/requirements.txt
  backend/python/parler-tts/requirements.txt
  backend/python/rerankers/requirements.txt
  backend/python/sentencetransformers/requirements.txt
  backend/python/transformers-musicgen/requirements.txt
  backend/python/transformers/requirements.txt
  backend/python/vall-e-x/requirements.txt
  backend/python/vllm/install.sh
  backend/python/vllm/requirements.txt
Labels: dependencies

#4022 models(gallery): add spiral-da-hyah-qwen2.5-72b-i1
  gallery/index.yaml
Labels: area/ai-model
