Repository mudler/LocalAI, pull requests merged in 2024-09, with the labels that each got.

#3444 models(gallery): add hubble-4b-v1
  gallery/index.yaml
Labels: area/ai-model

#3440 feat(vllm): add support for embeddings
  backend/python/vllm/backend.py
  backend/python/vllm/test.py
Labels: enhancement

#3482 models(gallery): add yi-coder (and variants)
  gallery/index.yaml
Labels: area/ai-model

#3487 models(gallery): add reflection-llama-3.1-70b
  gallery/index.yaml
Labels: area/ai-model

#3490 models(gallery): add athena-codegemma-2-2b-it
  gallery/index.yaml
Labels: area/ai-model

#3538 models(gallery): add azure_dusk-v0.2-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#3539 models(gallery): add mn-12b-lyra-v4-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#3540 models(gallery): add datagemma models
  gallery/index.yaml
Labels: area/ai-model

#3536 chore(exllama): drop exllama backend
  Dockerfile
  Makefile
  backend/python/exllama/.gitignore
  backend/python/exllama/Makefile
  backend/python/exllama/README.md
  backend/python/exllama/backend.py
  backend/python/exllama/install.sh
  backend/python/exllama/requirements-cpu.txt
  backend/python/exllama/requirements-cublas11.txt
  backend/python/exllama/requirements-cublas12.txt
  backend/python/exllama/requirements.txt
  backend/python/exllama/run.sh
  backend/python/exllama/test.sh
Labels: breaking-change

#3550 models(gallery): add l3.1-8b-niitama-v1.1-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#3543 fix(shutdown): do not shutdown immediately busy backends
  pkg/model/loader.go
  pkg/model/process.go
Labels: bug

#3585 fix: `gallery/index.yaml` comment spacing
  gallery/index.yaml
Labels: area/ai-model

#3601 feat(api): allow to pass videos to backends
  backend/backend.proto
  core/backend/llm.go
  core/http/endpoints/openai/chat.go
  core/http/endpoints/openai/inference.go
  core/http/endpoints/openai/request.go
  core/schema/openai.go
  pkg/utils/base64.go
  pkg/utils/base64_test.go
Labels: enhancement

#3603 feat(api): allow to pass audios to backends
  backend/backend.proto
  core/backend/llm.go
  core/http/endpoints/openai/chat.go
  core/http/endpoints/openai/inference.go
  core/http/endpoints/openai/request.go
  core/schema/openai.go
Labels: enhancement

#3607 models(gallery): add qwen2.5-14b-instruct
  gallery/index.yaml
Labels: area/ai-model

#3609 models(gallery): add qwen2.5-math-7b-instruct
  gallery/index.yaml
Labels: area/ai-model

#3610 models(gallery): add qwen2.5-14b_uncencored
  gallery/index.yaml
Labels: area/ai-model

#3611 models(gallery): add qwen2.5-coder-7b-instruct
  gallery/index.yaml
Labels: area/ai-model

#3612 models(gallery): add qwen2.5-math-72b-instruct
  gallery/index.yaml
Labels: area/ai-model

#3613 models(gallery): add qwen2.5-0.5b-instruct, qwen2.5-1.5b-instruct
  gallery/index.yaml
Labels: area/ai-model

#3614 models(gallery): add qwen2.5 32B, 72B, 32B Instruct
  gallery/index.yaml
Labels: area/ai-model

#3616 models(gallery): add llama-3.1-supernova-lite
  gallery/index.yaml
Labels: area/ai-model

#3617 models(gallery): add llama3.1-8b-shiningvaliant2
  gallery/index.yaml
Labels: area/ai-model

#3618 models(gallery): add buddy2
  gallery/index.yaml
Labels: area/ai-model

#3619 models(gallery): add llama-3.1-8b-arliai-rpmax-v1.1
  gallery/index.yaml
Labels: area/ai-model

#3621 Fix NeuralDaredevil URL
  gallery/index.yaml
Labels: area/ai-model

#3624 fix(parler-tts): fix install with sycl
  backend/python/parler-tts/install.sh
Labels: bug

#3627 feat: auto load into memory on startup
  core/backend/embeddings.go
  core/backend/image.go
  core/backend/llm.go
  core/backend/options.go
  core/backend/rerank.go
  core/backend/soundgeneration.go
  core/backend/tts.go
  core/cli/run.go
  core/config/application_config.go
  core/startup/startup.go
Labels: enhancement

#3631 fix(ci): fixup checksum scanning pipeline
  .github/check_and_update.py
Labels: ci

#3630 fix(hipblas): do not push all variants to hipblas builds
  Dockerfile
Labels: bug

#3633 models(gallery): add nightygurps-14b-v1.1
  gallery/index.yaml
Labels: area/ai-model

#3634 models(gallery): add gemma-2-9b-arliai-rpmax-v1.1
  gallery/index.yaml
Labels: area/ai-model

#3635 models(gallery): add gemma-2-2b-arliai-rpmax-v1.1
  gallery/index.yaml
Labels: area/ai-model

#3636 models(gallery): add acolyte-22b-i1
  gallery/index.yaml
Labels: area/ai-model

#3656 fix(health): do not require auth for /healthz and /readyz
  core/http/app.go
  core/http/routes/health.go
  core/http/routes/localai.go
Labels: bug

#3661 feat(api): list loaded models in `/system`
  core/http/endpoints/localai/system.go
  core/schema/localai.go
  pkg/model/initializers.go
  pkg/model/loader.go
  pkg/model/loader_test.go
  pkg/model/model.go
Labels: enhancement

#3671 models(gallery): add llama-3.2 3B and 1B
  gallery/index.yaml
Labels: area/ai-model

#3678 models(gallery): add magnusintellectus-12b-v1-i1
  gallery/index.yaml
Labels: area/ai-model

#3679 models(gallery): add bigqwen2.5-52b-instruct
  gallery/index.yaml
Labels: area/ai-model

#3668 feat(api): add correlationID to Track Chat requests
  backend/backend.proto
  backend/cpp/llama/grpc-server.cpp
  core/http/endpoints/openai/chat.go
  core/http/endpoints/openai/completion.go
  core/http/endpoints/openai/request.go
Labels: area/ai-model

#3688 models(gallery): add replete-llm-v2.5-qwen-14b
  gallery/index.yaml
Labels: area/ai-model

#3689 models(gallery): add replete-llm-v2.5-qwen-7b
  gallery/index.yaml
Labels: area/ai-model

#3691 models(gallery): add calme-2.2-qwen2.5-72b-i1
  gallery/index.yaml
Labels: area/ai-model
