Repository mudler/LocalAI, pull requests merged in 2024-02, with the labels that each got.

#1689 feat: Use ubuntu as base for container images, drop deprecated ggml-transformers backends
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/image_build.yml
  .github/workflows/test-extra.yml
  Dockerfile
  Makefile
  api/api_test.go
  backend/go/llm/transformers/dolly.go
  backend/go/llm/transformers/gpt2.go
  backend/go/llm/transformers/gptj.go
  backend/go/llm/transformers/gptneox.go
  backend/go/llm/transformers/mpt.go
  backend/go/llm/transformers/predict.go
  backend/go/llm/transformers/replit.go
  backend/go/llm/transformers/starcoder.go
  entrypoint.sh
  pkg/model/initializers.go
  tests/models_fixtures/config.yaml
  tests/models_fixtures/gpt4.yaml
  tests/models_fixtures/gpt4_2.yaml
Labels: enhancement

#1696 fix(vall-e-x): Fix voice cloning
  backend/python/vall-e-x/ttsvalle.py
  docs/content/docs/features/text-to-audio.md
Labels: bug

#1702 ci: add cuda builds to release
  .github/workflows/release.yaml
Labels: enhancement

#1704 fix(llama.cpp): disable infinite context shifting
  backend/cpp/llama/grpc-server.cpp
Labels: bug, upstream issue

#1713 fix(tts): fix regression when supplying backend from requests
  api/localai/localai.go
Labels: bug

#1715 feat(tools): support Tool calls in the API
  api/api.go
  api/openai/chat.go
  api/openai/request.go
  api/schema/openai.go
  pkg/grammar/functions.go
  pkg/model/loader.go
Labels: enhancement, area/tools

#1703 Initial implementation of upload files api.
  api/api.go
  api/openai/files.go
  api/openai/files_test.go
  api/options/options.go
  go.mod
  go.sum
  main.go
  pkg/utils/path.go
Labels: enhancement, roadmap

#1726 feat(tools): Parallel function calling
  api/config/config.go
  api/openai/chat.go
  pkg/grammar/json_schema.go
  pkg/grammar/json_schema_test.go
Labels: enhancement

#1728 refactor: move part of api packages to core
  api/localai/backend_monitor.go
  api/localai/gallery.go
  api/localai/localai.go
  api/openai/chat.go
  api/openai/completion.go
  api/openai/edit.go
  api/openai/embeddings.go
  api/openai/files.go
  api/openai/files_test.go
  api/openai/image.go
  api/openai/inference.go
  api/openai/list.go
  api/openai/request.go
  api/openai/transcription.go
  backend/go/transcribe/transcript.go
  backend/go/transcribe/whisper.go
  core/backend/embeddings.go
  core/backend/image.go
  core/backend/llm.go
  core/backend/options.go
  core/backend/transcript.go
  core/backend/tts.go
  core/config/config.go
  core/config/config_test.go
  core/config/prediction.go
  core/http/api.go
  core/http/api_test.go
  core/http/apt_suite_test.go
  core/options/options.go
  core/schema/openai.go
  core/schema/whisper.go
  main.go
  pkg/grpc/backend.go
  pkg/grpc/base/base.go
  pkg/grpc/client.go
  pkg/grpc/embed.go
  pkg/grpc/interface.go
  tests/integration/reflect_test.go
Labels: enhancement

#1714 deps(llama.cpp): update
  Makefile
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#1749 fix: vllm - use AsyncLLMEngine to allow true streaming mode
  backend/python/vllm/backend_vllm.py
Labels: enhancement

#1764 fix(tests): re-enable tests after code move
  Makefile
Labels: bug, high prio
