Repository mudler/LocalAI, pull requests merged in 2024-05, with the labels that each got.

#2209 models(gallery): add wizardlm2
  gallery/index.yaml
  gallery/wizardlm2.yaml
Labels: area/ai-model

#2218 models(gallery): Add Hermes-2-Pro-Llama-3-8B-GGUF
  gallery/index.yaml
Labels: area/ai-model

#2222 feat(ux): Add chat, tts, and image-gen pages to the WebUI
  core/cli/run.go
  core/config/application_config.go
  core/http/app.go
  core/http/routes/ui.go
  core/http/routes/welcome.go
  core/http/static/chat.js
  core/http/static/general.css
  core/http/static/image.js
  core/http/static/tts.js
  core/http/views/chat.html
  core/http/views/partials/head.html
  core/http/views/partials/navbar.html
  core/http/views/text2image.html
  core/http/views/tts.html
Labels: enhancement, area/webui

#2225 feat(aio): switch to llama3-based for LLM
  aio/cpu/text-to-text.yaml
  aio/gpu-8g/text-to-text.yaml
  aio/intel/text-to-text.yaml
Labels: enhancement

#2226 feat(ui): support multilineand style `ul`
  core/http/static/chat.js
  core/http/static/general.css
  core/http/views/chat.html
Labels: enhancement, area/webui

#2196 feat: update ROCM and use smaller image
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  Dockerfile
Labels: ci

#2233 fix(webui): correct documentation URL for text2img
  core/http/views/text2image.html
Labels: bug

#2232 feat(llama.cpp): do not specify backends to autoload and add llama.cpp variants
  Makefile
  backend/cpp/llama/Makefile
  backend/cpp/llama/prepare.sh
  backend/go/llm/langchain/langchain.go
  core/http/app_test.go
  pkg/langchain/huggingface.go
  pkg/model/initializers.go
Labels: enhancement

#2236 fix(gallery): hermes-2-pro-llama3 models checksum changed
  gallery/index.yaml
Labels: area/ai-model

#2237 models(gallery): add moondream2
  gallery/index.yaml
  gallery/moondream.yaml
Labels: area/ai-model

#2238 models(gallery): add llama3-llava
  gallery/index.yaml
Labels: area/ai-model

#2242 models(gallery): add llama3-instruct-coder
  gallery/index.yaml
Labels: area/ai-model

#2244 models(gallery): add lumimaid
  gallery/index.yaml
Labels: area/ai-model

#2246 feat(single-build): generate single binaries for releases
  .github/workflows/release.yaml
  Makefile
Labels: enhancement

#2249 gallery: Added some OpenVINO models
  docs/content/docs/reference/compatibility-table.md
  gallery/index.yaml
  gallery/openvino.yaml
Labels: area/ai-model

#2254 Update readme: add ShellOracle to community integrations
  README.md
Labels: kind/documentation

#2260 models(gallery): Add Soliloquy
  gallery/index.yaml
Labels: area/ai-model

#2259 feat(ui): prompt for chat, support vision, enhancements
  core/http/elements/gallery.go
  core/http/endpoints/localai/welcome.go
  core/http/endpoints/openai/request.go
  core/http/routes/ui.go
  core/http/static/chat.js
  core/http/static/general.css
  core/http/views/chat.html
  core/http/views/index.html
  core/http/views/models.html
  pkg/gallery/request.go
  pkg/xsync/map.go
Labels: enhancement, area/webui

#2266 models(gallery): add tess
  gallery/index.yaml
Labels: area/ai-model

#2268 models(gallery): add kunocchini
  gallery/index.yaml
Labels: area/ai-model

#2270 models(gallery): add aurora
  gallery/index.yaml
Labels: area/ai-model

#2269 models(gallery): add tiamat
  gallery/index.yaml
Labels: area/ai-model

#2274 ci: add checksum checker pipeline
  .github/checksum_checker.sh
  .github/workflows/checksum_checker.yaml
Labels: ci

#2283 models(gallery): add aloe
  gallery/index.yaml
Labels: area/ai-model

#2288 models(gallery): add Llama-3-8B-Instruct-abliterated
  gallery/index.yaml
Labels: area/ai-model

#2291 feat(grammar): support models with specific construct
  core/http/endpoints/openai/chat.go
  core/schema/openai.go
  pkg/functions/functions.go
  pkg/functions/functions_test.go
  pkg/functions/grammar_json_schema.go
  pkg/functions/grammar_json_schema_test.go
  pkg/functions/parse.go
Labels: enhancement

#2295 models(gallery): add l3-chaoticsoliloquy-v1.5-4x8b
  gallery/index.yaml
Labels: area/ai-model

#2296 models(gallery): add jsl-medllama-3-8b-v2.0
  gallery/index.yaml
Labels: area/ai-model

#2297 models(gallery): add llama-3-refueled
  gallery/index.yaml
Labels: area/ai-model

#2298 feat(ui): display number of available models for installation
  core/http/routes/ui.go
  core/http/views/models.html
Labels: enhancement, ux, area/webui

#2309 models(gallery): add aura-llama-Abliterated
  gallery/index.yaml
Labels: area/ai-model

#2311 models(gallery): add Bunny-llama
  gallery/index.yaml
Labels: area/ai-model

#2312 models(gallery): add lumimaidv2
  gallery/index.yaml
Labels: area/ai-model

#2313 models(gallery): add orthocopter
  gallery/index.yaml
Labels: area/ai-model

#2310 feat(llama.cpp): add `flash_attention` and `no_kv_offloading`
  backend/backend.proto
  backend/cpp/llama/grpc-server.cpp
  core/backend/options.go
  core/config/backend_config.go
Labels: enhancement

#2315 feat(functions): support models with no grammar and no regex
  pkg/functions/parse.go
  pkg/functions/parse_test.go
Labels: enhancement

#2306 feat: auto select llama-cpp cuda runtime
  .github/workflows/release.yaml
  .github/workflows/test.yml
  Makefile
  go.sum
  pkg/model/initializers.go
Labels: enhancement

#2324 feat(llama.cpp): add distributed llama.cpp inferencing
  .env
  .github/workflows/release.yaml
  Dockerfile
  Makefile
  backend/cpp/llama/grpc-server.cpp
  core/cli/cli.go
  core/cli/llamacppworker.go
  core/config/backend_config.go
  core/http/endpoints/openai/chat.go
  pkg/assets/extract.go
  pkg/model/initializers.go
Labels: enhancement

#2328 feat(functions): mixed JSON BNF grammars
  core/http/endpoints/openai/chat.go
  pkg/functions/grammar_json_schema.go
  pkg/functions/grammar_json_schema_test.go
  pkg/functions/parse.go
Labels: enhancement

#2330 fix(gallery) Correct llama3-8b-instruct model file
  gallery/index.yaml
Labels: area/ai-model

#2331 models(gallery): add hermes-2-theta-llama-3-8b
  gallery/hermes-2-pro-mistral.yaml
  gallery/index.yaml
Labels: area/ai-model

#2335 models(gallery): add yi 6/9b, sqlcoder, sfr-iterative-dpo
  gallery/chatml.yaml
  gallery/index.yaml
Labels: area/ai-model

#2340 feat(functions): simplify parsing, read functions as list
  pkg/functions/parse.go
  pkg/functions/parse_test.go
Labels: enhancement

#2341 feat(functions): Enable true regex replacement for the regexReplacement option
  pkg/functions/parse.go
  pkg/functions/parse_test.go
Labels: enhancement

#2344 models(gallery): add anita
  gallery/index.yaml
Labels: area/ai-model

#2345 models(gallery): add master-yi
  gallery/index.yaml
Labels: area/ai-model

#2346 models(gallery): update poppy porpoise mmproj
  gallery/index.yaml
Labels: area/ai-model

#2334 feat(backends): add openvoice backend
  .github/workflows/test-extra.yml
  Dockerfile
  Makefile
  backend/python/openvoice/Makefile
  backend/python/openvoice/backend.py
  backend/python/openvoice/install.sh
  backend/python/openvoice/requirements-intel.txt
  backend/python/openvoice/requirements.txt
  backend/python/openvoice/run.sh
  backend/python/openvoice/test.py
  backend/python/openvoice/test.sh
Labels: enhancement

#2348 feat(webui): statically embed js/css assets
  Makefile
  core/dependencies_manager/manager.go
  core/http/static/assets/KFOlCnqEu92Fr1MmEU9fBBc9.ttf
  core/http/static/assets/KFOlCnqEu92Fr1MmEU9vAw.ttf
  core/http/static/assets/KFOlCnqEu92Fr1MmSU5fBBc9.ttf
  core/http/static/assets/KFOlCnqEu92Fr1MmWUlfBBc9.ttf
  core/http/static/assets/KFOlCnqEu92Fr1MmYUtfBBc9.ttf
  core/http/static/assets/KFOmCnqEu92Fr1Me5Q.ttf
  core/http/static/assets/KFOmCnqEu92Fr1Mu4mxP.ttf
  core/http/static/assets/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf
  core/http/static/assets/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf
  core/http/static/assets/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf
  core/http/static/assets/alpine.js
  core/http/static/assets/font1.css
  core/http/static/assets/font2.css
  core/http/static/assets/fontawesome.css
  core/http/static/assets/fontawesome/css/all.css
  core/http/static/assets/fontawesome/css/all.min.css
  core/http/static/assets/fontawesome/css/brands.css
  core/http/static/assets/fontawesome/css/brands.min.css
  core/http/static/assets/fontawesome/css/fontawesome.css
  core/http/static/assets/fontawesome/css/fontawesome.min.css
  core/http/static/assets/fontawesome/css/regular.css
  core/http/static/assets/fontawesome/css/regular.min.css
  core/http/static/assets/fontawesome/css/solid.css
  core/http/static/assets/fontawesome/css/solid.min.css
  core/http/static/assets/fontawesome/css/svg-with-js.css
  core/http/static/assets/fontawesome/css/svg-with-js.min.css
  core/http/static/assets/fontawesome/css/v4-font-face.css
  core/http/static/assets/fontawesome/css/v4-font-face.min.css
  core/http/static/assets/fontawesome/css/v4-shims.css
  core/http/static/assets/fontawesome/css/v4-shims.min.css
  core/http/static/assets/fontawesome/css/v5-font-face.css
  core/http/static/assets/fontawesome/css/v5-font-face.min.css
  core/http/static/assets/fontawesome/webfonts/fa-brands-400.ttf
  core/http/static/assets/fontawesome/webfonts/fa-brands-400.woff2
  core/http/static/assets/fontawesome/webfonts/fa-regular-400.ttf
  core/http/static/assets/fontawesome/webfonts/fa-regular-400.woff2
  core/http/static/assets/fontawesome/webfonts/fa-solid-900.ttf
  core/http/static/assets/fontawesome/webfonts/fa-solid-900.woff2
  core/http/static/assets/fontawesome/webfonts/fa-v4compatibility.ttf
  core/http/static/assets/fontawesome/webfonts/fa-v4compatibility.woff2
  core/http/static/assets/highlightjs.css
  core/http/static/assets/highlightjs.js
  core/http/static/assets/htmx.js
  core/http/static/assets/marked.js
  core/http/static/assets/purify.js
  core/http/static/assets/tailwindcss.js
  core/http/static/assets/tw-elements.css
  core/http/views/partials/head.html
  embedded/webui_static.yaml
Labels: enhancement, area/webui

#2349 feat(functions): allow to use JSONRegexMatch unconditionally
  pkg/functions/parse.go
  pkg/functions/parse_test.go
Labels: enhancement

#2355 models(gallery): add LocalAI-Llama3-8b-Function-Call-v0.2-GGUF
  gallery/index.yaml
  gallery/mudler.yaml
Labels: area/ai-model

#2354 feat(functions): don't use yaml.MapSlice
  pkg/functions/parse.go
  pkg/functions/parse_test.go
Labels: enhancement

#2358 models(gallery): add stheno
  gallery/index.yaml
Labels: area/ai-model

#2362 dependencies(grpcio): bump to fix CI issues
  .github/workflows/generate_grpc_cache.yaml
  .github/workflows/image_build.yml
  .github/workflows/release.yaml
  .github/workflows/test-extra.yml
  .github/workflows/test.yml
  backend/python/autogptq/requirements.txt
  backend/python/bark/requirements.txt
  backend/python/common/template/requirements.txt
  backend/python/coqui/requirements.txt
  backend/python/diffusers/requirements.txt
  backend/python/exllama/requirements.txt
  backend/python/exllama2/requirements.txt
  backend/python/mamba/requirements.txt
  backend/python/openvoice/requirements-intel.txt
  backend/python/openvoice/requirements.txt
  backend/python/parler-tts/requirements.txt
  backend/python/rerankers/requirements.txt
  backend/python/sentencetransformers/requirements.txt
  backend/python/transformers-musicgen/requirements.txt
  backend/python/transformers/requirements.txt
  backend/python/vall-e-x/requirements.txt
  backend/python/vllm/requirements.txt
  core/config/backend_config.go
  core/config/backend_config_loader.go
  core/config/backend_config_test.go
  core/config/config_suite_test.go
  core/config/config_test.go
  pkg/model/process.go
Labels: dependencies, ci

#2366 fix(gallery): checksum Meta-Llama-3-70B-Instruct.Q4_K_M.gguf - #2364
  gallery/index.yaml
Labels: area/ai-model

#2365 feat(functions): relax mixedgrammars
  aio/cpu/text-to-text.yaml
  aio/gpu-8g/text-to-text.yaml
  aio/intel/text-to-text.yaml
  core/http/endpoints/openai/chat.go
  gallery/hermes-2-pro-mistral.yaml
  pkg/functions/grammar_json_schema.go
  pkg/functions/grammar_json_schema_test.go
  pkg/functions/options.go
  pkg/functions/parse.go
  pkg/functions/parse_test.go
Labels: enhancement, area/ai-model

#2367 models(gallery): add phi-3-medium-4k-instruct
  core/config/backend_config.go
  gallery/index.yaml
Labels: area/ai-model

#2369 ci: correctly build p2p in GO_TAGS
  Dockerfile
Labels: bug, ci

#2376 models(gallery): add hercules and helpingAI
  gallery/chatml-hercules.yaml
  gallery/index.yaml
Labels: area/ai-model

#2380 ci(checksum_checker): do get sha from hf API when available
  .github/checksum_checker.sh
  gallery/index.yaml
Labels: ci

#2387 Add Home Assistant Integration
  README.md
Labels: kind/documentation

#2388 models(gallery): add mistral-0.3 and command-r, update functions
  .gitignore
  aio/cpu/text-to-text.yaml
  aio/gpu-8g/text-to-text.yaml
  aio/intel/text-to-text.yaml
  gallery/command-r.yaml
  gallery/hermes-2-pro-mistral.yaml
  gallery/index.yaml
  gallery/mistral-0.3.yaml
  pkg/functions/grammar_json_schema.go
  pkg/functions/grammar_json_schema_test.go
  pkg/functions/options.go
  pkg/functions/parse.go
Labels: enhancement, area/ai-model

#2391 models(gallery): add aya-35b
  gallery/index.yaml
Labels: area/ai-model

#2405 models(gallery): add Mirai Nova
  gallery/index.yaml
Labels: area/ai-model

#2411 models(gallery): add Mahou
  gallery/index.yaml
Labels: area/ai-model

#2412 models(gallery): add minicpm
  gallery/index.yaml
Labels: area/ai-model

#2415 models(gallery): add poppy porpoise 0.85
  gallery/index.yaml
Labels: area/ai-model

#2416 models(gallery): add alpha centauri
  gallery/index.yaml
Labels: area/ai-model

#2417 models(gallery): add cream-phi-13b
  gallery/index.yaml
  gallery/phi-3-chat.yaml
Labels: area/ai-model

#2418 models(gallery): add stheno-mahou
  gallery/index.yaml
Labels: area/ai-model

#2422 models(gallery): add iterative-dpo, fix minicpm
  gallery/index.yaml
Labels: area/ai-model

#2432 feat(functions): allow parallel calls with mixed/no grammars
  core/http/endpoints/openai/chat.go
  pkg/functions/parse.go
  pkg/functions/parse_test.go
Labels: enhancement

#2435 models(gallery): add una-thepitbull
  gallery/chatml.yaml
  gallery/index.yaml
Labels: area/ai-model

#2434 models(gallery): add halu
  gallery/index.yaml
Labels: area/ai-model

#2347 feat(image): support `response_type` in the OpenAI API request
  core/config/backend_config.go
  core/http/endpoints/openai/chat.go
  core/http/endpoints/openai/completion.go
  core/http/endpoints/openai/image.go
  core/http/endpoints/openai/request.go
  core/schema/openai.go
  tests/e2e-aio/e2e_test.go
Labels: enhancement

#2439 models(gallery): add neuraldaredevil
  gallery/index.yaml
Labels: area/ai-model

#2442 models(gallery): add Codestral
  core/http/endpoints/openai/completion.go
  gallery/index.yaml
Labels: area/ai-model

#2449 models(gallery): add mopeymule
  .github/workflows/release.yaml
  gallery/index.yaml
Labels: area/ai-model

#2454 models(gallery): add anjir
  gallery/index.yaml
Labels: area/ai-model

#2455 models(gallery): add llama3-11b
  gallery/index.yaml
Labels: area/ai-model

#2456 models(gallery): add ultron
  gallery/index.yaml
Labels: area/ai-model
