Repository mudler/LocalAI, pull requests merged in 2024-03, with the labels that each got.

#1761 feat(assistant): Initial implementation of assistants api
  api/openai/assistant.go
  core/http/api.go
Labels: enhancement

#1796 Edit links in readme and integrations page
  README.md
  docs/content/docs/integrations.md
Labels: kind/documentation, community-integrations

#1799 feat(autogpt/transformers): consume `trust_remote_code`
  backend/python/autogptq/autogptq.py
  backend/python/transformers/transformers_server.py
Labels: enhancement, breaking-change

#1822 fix(config): set better defaults for inferencing
  core/backend/embeddings.go
  core/backend/image.go
  core/backend/llm.go
  core/backend/options.go
  core/backend/transcript.go
  core/config/backend_config.go
  core/http/api_test.go
  core/http/endpoints/localai/tts.go
  core/http/endpoints/openai/image.go
  core/http/endpoints/openai/request.go
  core/schema/prediction.go
  main.go
Labels: enhancement

#1823 feat: Add Bitsandbytes quantization for transformer backend enhancement #1775 and fix: Transformer backend error on CUDA #1774
  backend/python/common-env/transformers/transformers-nvidia.yml
  backend/python/transformers/transformers_server.py
Labels: enhancement

#1841 docs(transformers): add docs section about transformers
  docs/content/docs/features/text-generation.md
Labels: kind/documentation

#1842 feat(embeddings): do not require to be configured
  core/backend/embeddings.go
Labels: enhancement

#1852 fix(llama.cpp): fix eos without cache
  backend/cpp/llama/grpc-server.cpp
Labels: bug

#1853 fix(config): default to debug=false if not set
  core/config/backend_config.go
Labels: bug

#1854 fix(config-watcher): start only if config-directory exists
  main.go
Labels: bug

#1878 fix(config): pass by config options, respect defaults
  core/config/application_config.go
  core/config/backend_config.go
  core/startup/startup.go
Labels: bug, high prio

#1882 fix(watchdog): use ShutdownModel instead of StopModel
  pkg/model/loader.go
  pkg/model/watchdog.go
Labels: bug

#1895 fix(aio): make image-gen for GPU functional, update docs
  README.md
  aio/gpu-8g/image-gen.yaml
  docs/content/docs/getting-started/quickstart.md
  docs/content/docs/getting-started/run-other-models.md
  docs/content/docs/overview.md
  docs/content/docs/reference/aio-images.md
  docs/content/docs/reference/container-images.md
  tests/e2e-aio/e2e_suite_test.go
  tests/e2e-aio/e2e_test.go
Labels: kind/documentation

#1860 Enhance autogptq backend to support VL models
  backend/python/autogptq/autogptq.py
  backend/python/autogptq/autogptq.yml
  backend/python/common-env/transformers/transformers-nvidia.yml
  backend/python/common-env/transformers/transformers-rocm.yml
  backend/python/common-env/transformers/transformers.yml
Labels: enhancement

#1803 feat(assistant): Assistant and AssistantFiles api
  core/config/application_config.go
  core/http/api.go
  core/http/endpoints/openai/assistant.go
  core/http/endpoints/openai/assistant_test.go
  core/http/endpoints/openai/files.go
  core/http/endpoints/openai/files_test.go
  main.go
  pkg/utils/config.go
Labels: enhancement

#1892 feat: Openvino runtime for transformer backend and streaming support for Openvino and CUDA
  backend/python/common-env/transformers/transformers.yml
  backend/python/transformers/transformers_server.py
Labels: enhancement

#1912 feat(welcome): add simple welcome page
  core/config/application_config.go
  core/http/api.go
  core/http/views/404.html
  core/http/views/index.html
  core/http/views/partials/footer.html
  core/http/views/partials/head.html
  core/http/views/partials/navbar.html
  go.mod
  go.sum
  main.go
Labels: enhancement

#1931 fix(aio): correctly detect intel systems
  aio/entrypoint.sh
  docs/content/docs/reference/aio-images.md
Labels: bug

#1930 fix(swagger): do not specify a host
  core/http/api.go
  swagger/docs.go
  swagger/swagger.json
  swagger/swagger.yaml
Labels: bug

#1932 fix(tools): correctly render tools response in templates
  aio/gpu-8g/text-to-text.yaml
  aio/intel/text-to-text.yaml
  core/http/endpoints/openai/chat.go
  embedded/models/hermes-2-pro-mistral.yaml
Labels: bug
