Repository mudler/LocalAI, pull requests merged in 2024-01, with the labels that each got.

#1522 feat: share models by url
  api/api.go
  api/config/config.go
  api/options/options.go
  docs/content/advanced/_index.en.md
  docs/content/build/_index.en.md
  main.go
  pkg/model/initializers.go
  pkg/utils/logging.go
  pkg/utils/uri.go
Labels: enhancement

#1526 feat(prepare): allow to specify additional files to download
  api/config/config.go
Labels: enhancement

#1527 deps(llama.cpp): update and sync grpc server
  Makefile
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#1528 feat: add trimsuffix
  api/backend/llm.go
  api/config/config.go
  examples/configurations/phi-2.yaml
Labels: enhancement

#1540 fix(diffusers): add omegaconf dependency
  backend/python/diffusers/diffusers.yml
Labels: bug

#1574 Moving the how tos to self hosted
  README.md
  docs/content/getting_started/_index.en.md
  docs/content/howtos/_index.md
  docs/content/howtos/easy-model.md
  docs/content/howtos/easy-request.md
  docs/content/howtos/easy-setup-docker.md
  docs/content/howtos/easy-setup-embeddings.md
  docs/content/howtos/easy-setup-full.md
  docs/content/howtos/easy-setup-sd.md
Labels: How To (FIxes), How To (Updates)

#1601 Update README.md
  README.md
Labels: How To (Updates)

#1607 Makefile: allow to build without GRPC_BACKENDS
  Makefile
Labels: enhancement

#1589 feat: 🐍 add mamba support
  Dockerfile
  Makefile
  backend/backend.proto
  backend/python/coqui/coqui_server.py
  backend/python/mamba/Makefile
  backend/python/mamba/README.md
  backend/python/mamba/backend_mamba.py
  backend/python/mamba/backend_pb2.py
  backend/python/mamba/backend_pb2_grpc.py
  backend/python/mamba/install.sh
  backend/python/mamba/run.sh
  backend/python/mamba/test.sh
  backend/python/mamba/test_backend_mamba.py
Labels: enhancement

#1621 feat(grpc): backend SPI pluggable in embedding mode
  api/backend/embeddings.go
  api/backend/llm.go
  pkg/grpc/backend.go
  pkg/grpc/client.go
  pkg/grpc/embed.go
  pkg/grpc/server.go
  pkg/model/initializers.go
  pkg/model/loader.go
Labels: enhancement
