Repository mudler/LocalAI, pull requests merged in 2024-08, with the labels that each got.

#3104 models(gallery): add mn-12b-celeste-v1.9
  gallery/index.yaml
Labels: area/ai-model

#3105 models(gallery): add shieldgemma
  gallery/index.yaml
Labels: area/ai-model

#3107 fix(ui): do not show duplicate entries if not installed by gallery
  core/http/endpoints/localai/welcome.go
Labels: bug

#3112 models(gallery): add llama-3.1-techne-rp-8b-v1
  gallery/index.yaml
Labels: area/ai-model

#3108 fix: be consistent in downloading files, check for scanner errors
  core/cli/models.go
  core/cli/util.go
  core/config/backend_config.go
  core/config/backend_config_loader.go
  core/dependencies_manager/manager.go
  core/gallery/gallery.go
  core/gallery/models.go
  core/http/app_test.go
  embedded/embedded.go
  pkg/downloader/huggingface.go
  pkg/downloader/uri.go
  pkg/downloader/uri_test.go
  pkg/startup/model_preload.go
Labels: bug

#3116 models(gallery): add llama-spark
  gallery/index.yaml
Labels: area/ai-model

#3119 models(gallery): add glitz
  gallery/index.yaml
Labels: area/ai-model

#3120 models(gallery): add gemmasutra-mini
  gallery/index.yaml
Labels: area/ai-model

#3121 models(gallery): add kumiho-v1-rp-uwu-8b
  gallery/index.yaml
Labels: area/ai-model

#3126 models(gallery): add humanish-roleplay-llama-3.1-8b-i1
  gallery/index.yaml
Labels: area/ai-model

#2890 fix: ensure correct version of torch is always installed based on BUI…
  backend/python/autogptq/requirements-cublas11.txt
  backend/python/autogptq/requirements-cublas12.txt
  backend/python/autogptq/requirements.txt
  backend/python/bark/requirements-cublas11.txt
  backend/python/bark/requirements-cublas12.txt
  backend/python/common/libbackend.sh
  backend/python/coqui/requirements-cublas11.txt
  backend/python/coqui/requirements-cublas12.txt
  backend/python/diffusers/requirements-cublas11.txt
  backend/python/diffusers/requirements-cublas12.txt
  backend/python/diffusers/requirements.txt
  backend/python/exllama/requirements-cublas11.txt
  backend/python/exllama/requirements-cublas12.txt
  backend/python/exllama/requirements.txt
  backend/python/exllama2/requirements-cublas11.txt
  backend/python/exllama2/requirements-cublas12.txt
  backend/python/exllama2/requirements.txt
  backend/python/mamba/requirements-after.txt
  backend/python/mamba/requirements-cpu.txt
  backend/python/mamba/requirements-cublas11.txt
  backend/python/mamba/requirements-cublas12.txt
  backend/python/mamba/requirements-install.txt
  backend/python/mamba/requirements.txt
  backend/python/openvoice/requirements-cublas11.txt
  backend/python/openvoice/requirements-cublas12.txt
  backend/python/parler-tts/requirements-cublas11.txt
  backend/python/parler-tts/requirements-cublas12.txt
  backend/python/parler-tts/requirements.txt
  backend/python/petals/requirements-cublas11.txt
  backend/python/petals/requirements-cublas12.txt
  backend/python/rerankers/requirements-cublas11.txt
  backend/python/rerankers/requirements-cublas12.txt
  backend/python/sentencetransformers/requirements-cublas11.txt
  backend/python/sentencetransformers/requirements-cublas12.txt
  backend/python/transformers-musicgen/requirements-cublas11.txt
  backend/python/transformers-musicgen/requirements-cublas12.txt
  backend/python/transformers-musicgen/requirements.txt
  backend/python/transformers/requirements-cublas11.txt
  backend/python/transformers/requirements-cublas12.txt
  backend/python/transformers/requirements.txt
  backend/python/vall-e-x/requirements-cublas11.txt
  backend/python/vall-e-x/requirements-cublas12.txt
  backend/python/vllm/requirements-cublas11.txt
  backend/python/vllm/requirements-cublas12.txt
Labels: bug

#3166 chore: :arrow_up: Update ggerganov/llama.cpp
  Makefile
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#3185 models(gallery): add calme-2.2-qwen2-72b
  gallery/index.yaml
Labels: area/ai-model

#3193 feat(openai): add `json_schema` format type and strict mode
  core/http/endpoints/openai/chat.go
  core/schema/openai.go
  pkg/functions/functions.go
Labels: enhancement

#3128 feat(p2p): allow to run multiple clusters in the same p2p network
  core/cli/federated.go
  core/cli/run.go
  core/cli/worker/worker_p2p.go
  core/config/application_config.go
  core/http/endpoints/localai/p2p.go
  core/http/routes/localai.go
  core/http/routes/ui.go
  core/p2p/federated.go
Labels: enhancement

#3106 chore: drop gpt4all.cpp
  Makefile
  backend/go/llm/gpt4all/gpt4all.go
  backend/go/llm/gpt4all/main.go
  core/cli/worker/worker_llamacpp.go
  core/cli/worker/worker_p2p.go
  core/http/app_test.go
  core/http/routes/ui.go
  core/startup/startup.go
  pkg/model/initializers.go
Labels: Do-not-merge, breaking-change

#3199 fix(apple): disable BUILD_TYPE metal on fallback
  Makefile
Labels: bug

#3200 models(gallery): add calme-2.3-legalkit-8b
  gallery/index.yaml
Labels: area/ai-model

#3125 feat(p2p): add network explorer and community pools
  .github/workflows/deploy-explorer.yaml
  Makefile
  core/cli/cli.go
  core/cli/explorer.go
  core/cli/run.go
  core/cli/worker/worker_p2p.go
  core/explorer/database.go
  core/explorer/database_test.go
  core/explorer/discovery.go
  core/explorer/explorer_suite_test.go
  core/http/endpoints/explorer/dashboard.go
  core/http/endpoints/localai/p2p.go
  core/http/explorer.go
  core/http/routes/explorer.go
  core/http/routes/ui.go
  core/http/views/explorer.html
  core/http/views/partials/navbar_explorer.html
  core/p2p/node.go
  core/p2p/p2p.go
Labels: enhancement

#3211 feat(explorer): relax token deletion with error threshold
  core/cli/explorer.go
  core/explorer/discovery.go
Labels: enhancement

#3213 fix(explorer): reset counter when network is active
  core/explorer/discovery.go
Labels: bug

#3129 feat(diffusers): support flux models
  backend/python/diffusers/backend.py
  backend/python/diffusers/requirements-cpu.txt
  backend/python/diffusers/requirements-cublas11.txt
  backend/python/diffusers/requirements-cublas12.txt
  backend/python/diffusers/requirements-hipblas.txt
  backend/python/diffusers/requirements-intel.txt
Labels: enhancement, Do-not-merge

#3215 models(gallery): add flux.1-dev and flux.1-schnell
  gallery/flux.yaml
  gallery/index.yaml
Labels: area/ai-model

#3220 models(gallery): add infinity-instruct-7m-gen-llama3_1-70b
  gallery/index.yaml
Labels: area/ai-model

#3221 models(gallery): add cathallama-70b
  gallery/index.yaml
Labels: area/ai-model

#3246 feat(gallery): lazy load images
  core/http/elements/gallery.go
Labels: enhancement

#3249 models(gallery): add edgerunner-tactical-7b
  gallery/index.yaml
Labels: area/ai-model

#3252 models(gallery): add hermes-3
  gallery/hermes-2-pro-mistral.yaml
  gallery/index.yaml
Labels: area/ai-model

#3253 chore(deps): bump llama.cpp, rename `llama_add_bos_token`
  Makefile
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#3256 chore: allow to disable gallery endpoints, improve p2p connection handling
  core/cli/run.go
  core/config/application_config.go
  core/http/routes/localai.go
  core/p2p/federated.go
  core/p2p/federated_server.go
  core/p2p/p2p.go
Labels: enhancement

#3262 fix(gallery): be consistent and disable UI routes as well
  core/http/routes/ui.go
Labels: bug

#3265 models(gallery): add SmolLM
  gallery/index.yaml
Labels: area/ai-model

#3266 models(gallery): add mahou-1.3-llama3.1-8b
  gallery/index.yaml
Labels: area/ai-model

#3267 models(gallery): add fireball-llama-3.11-8b-v1orpo
  gallery/index.yaml
Labels: area/ai-model

#3268 models(gallery): add rocinante-12b-v1.1
  gallery/index.yaml
Labels: area/ai-model

#3270 models(gallery): add llama-3.1-storm-8b-q4_k_m
  gallery/index.yaml
Labels: area/ai-model

#3272 fix(parler-tts): bump and require after build type deps
  backend/python/parler-tts/requirements-after.txt
  backend/python/parler-tts/requirements.txt
Labels: bug

#3273 chore(p2p): make commands easier to copy-paste
  core/http/views/p2p.html
  core/http/views/partials/head.html
  core/p2p/p2p.go
Labels: enhancement

#3316 chore: drop petals
  .github/dependabot.yml
  .github/workflows/test-extra.yml
  Dockerfile
  Makefile
  backend/python/petals/Makefile
  backend/python/petals/backend.py
  backend/python/petals/install.sh
  backend/python/petals/requirements-cpu.txt
  backend/python/petals/requirements-cublas11.txt
  backend/python/petals/requirements-cublas12.txt
  backend/python/petals/requirements-hipblas.txt
  backend/python/petals/requirements-intel.txt
  backend/python/petals/requirements.txt
  backend/python/petals/run.sh
  backend/python/petals/test.py
  backend/python/petals/test.sh
  docs/content/docs/features/GPU-acceleration.md
  docs/content/docs/reference/compatibility-table.md
Labels: breaking-change, ci

#3337 feat(federation): do not allocate local services for load balancing
  core/p2p/federated.go
  core/p2p/federated_server.go
  core/p2p/node.go
  core/p2p/p2p.go
Labels: enhancement

#3340 chore(deps): update edgevpn
  go.mod
  go.sum
Labels: dependencies

#3341 fix(p2p): re-use p2p host when running federated mode
  core/cli/run.go
  core/cli/worker/worker_p2p.go
  core/p2p/federated_server.go
  core/p2p/p2p.go
  core/p2p/p2p_disabled.go
Labels: bug

#3349 fix(p2p): avoid starting the node twice
  core/cli/run.go
  core/cli/worker/worker_p2p.go
  core/p2p/p2p.go
Labels: bug

#3317 fix(docs): Refer to the OpenAI documentation to update the openai-functions docu…
  docs/content/docs/features/openai-functions.md
Labels: kind/documentation

#3350 chore(docs): update p2p env var documentation
  docs/content/docs/features/distributed_inferencing.md
Labels: kind/documentation

#3353 feat(p2p): allow to set intervals
  core/cli/run.go
  core/p2p/p2p.go
  core/p2p/p2p_disabled.go
Labels: enhancement

#3359 fix(chat): re-generated uuid, created, and text on each request
  core/http/endpoints/openai/chat.go
Labels: bug

#3362 fix(deps): bump grpcio
  backend/python/autogptq/requirements.txt
  backend/python/bark/requirements.txt
  backend/python/common/template/requirements.txt
  backend/python/coqui/requirements.txt
  backend/python/diffusers/requirements.txt
  backend/python/exllama/requirements.txt
  backend/python/exllama2/requirements.txt
  backend/python/mamba/requirements.txt
  backend/python/openvoice/requirements-intel.txt
  backend/python/openvoice/requirements.txt
  backend/python/parler-tts/requirements.txt
  backend/python/rerankers/requirements.txt
  backend/python/sentencetransformers/requirements.txt
  backend/python/transformers-musicgen/requirements.txt
  backend/python/transformers/requirements.txt
  backend/python/vall-e-x/requirements.txt
  backend/python/vllm/requirements.txt
Labels: bug

#3365 chore(model-gallery): add more quants for popular models
  gallery/hermes-vllm.yaml
  gallery/index.yaml
  gallery/vllm.yaml
Labels: area/ai-model

#3355 feat: elevenlabs `sound-generation` api
  backend/backend.proto
  backend/python/transformers-musicgen/backend.py
  backend/python/transformers-musicgen/test.py
  core/backend/llm.go
  core/backend/soundgeneration.go
  core/backend/tts.go
  core/cli/cli.go
  core/cli/soundgeneration.go
  core/http/endpoints/elevenlabs/soundgeneration.go
  core/http/routes/elevenlabs.go
  core/schema/elevenlabs.go
  examples/bruno/LocalAI Test Requests/Sound Generation/musicgen.bru
  go.sum
  pkg/grpc/backend.go
  pkg/grpc/base/base.go
  pkg/grpc/client.go
  pkg/grpc/embed.go
  pkg/grpc/interface.go
  pkg/grpc/server.go
  pkg/utils/path.go
Labels: enhancement

#3368 fix(p2p): correctly allow to pass extra args to llama.cpp
  core/cli/worker/worker_p2p.go
Labels: bug

#3376 models(gallery): add phi-3.5
  gallery/index.yaml
Labels: area/ai-model

#3377 fix(model-loading): keep track of open GRPC Clients
  core/services/backend_monitor.go
  pkg/grpc/backend.go
  pkg/grpc/client.go
  pkg/model/initializers.go
  pkg/model/loader.go
  pkg/model/model.go
  pkg/model/process.go
  pkg/model/template.go
  pkg/model/template_test.go
  pkg/model/watchdog.go
Labels: bug

#3383 models(gallery): add calme-2.1-phi3.5-4b-i1
  gallery/index.yaml
Labels: area/ai-model

#3384 models(gallery): add magnum-v3-34b
  gallery/index.yaml
Labels: area/ai-model

#3421 models(gallery): add phi-3.5-vision
  gallery/index.yaml
Labels: area/ai-model

#3422 Revert "models(gallery): add phi-3.5-vision"
  gallery/index.yaml
Labels: area/ai-model

#3434 feat: Added Piper voice it-paola-medium
  gallery/index.yaml
Labels: area/ai-model
