Repository mudler/LocalAI, pull requests merged in 2024-06, with the labels that each got.

#2459 models(gallery): add poppy porpoise 1.0
  gallery/index.yaml
Labels: area/ai-model

#2460 models(gallery): add Neural SOVLish Devil
  gallery/index.yaml
Labels: area/ai-model

#2462 models(gallery): add all whisper variants
  gallery/index.yaml
  gallery/whisper-base.yaml
Labels: area/ai-model

#2466 models(gallery): add gemma-2b
  gallery/gemma.yaml
  gallery/index.yaml
Labels: area/ai-model

#2470 models(gallery): add fimbulvetr iqmatrix version
  gallery/index.yaml
Labels: area/ai-model

#2471 models(gallery): add new poppy porpoise versions
  gallery/index.yaml
Labels: area/ai-model

#2476 README: update sponsors list
  README.md
Labels: kind/documentation

#2492 models(gallery): add dolphin-2.9.2-Phi-3-Medium
  gallery/index.yaml
Labels: area/ai-model

#2495 models(gallery): add dolphin-2.9.2-phi-3-Medium-abliterated
  gallery/index.yaml
Labels: area/ai-model

#2497 models(gallery): add phi-3-4x4b
  gallery/index.yaml
Labels: area/ai-model

#2509 models(gallery): add llama3-8B-aifeifei-1.0-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2511 models(gallery): add llama3-8b-feifei-1.0-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2517 fix(stream): do not break channel consumption
  core/http/endpoints/openai/chat.go
Labels: bug

#2535 Add integrations
  README.md
Labels: kind/documentation

#2544 models(gallery): add llama3-8B-aifeifei-1.2-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2546 models(gallery): add l3-aethora-15b
  gallery/index.yaml
Labels: area/ai-model

#2547 models(gallery): add llama-salad-8x8b
  gallery/index.yaml
Labels: area/ai-model

#2548 models(gallery): add average_normie_v3.69_8b-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2549 models(gallery): add duloxetine
  gallery/index.yaml
Labels: area/ai-model

#2550 models(gallery): add badger-lambda-llama-3-8b
  gallery/index.yaml
Labels: area/ai-model

#2569 fix(Makefile): enable STATIC on dist
  Makefile
Labels: bug

#2576 models(gallery): add firefly-gemma-7b
  gallery/index.yaml
Labels: area/ai-model

#2572 feat(build): bundle libs for arm64 and x86 linux binaries
  .github/workflows/release.yaml
Labels: enhancement

#2580 models(gallery): add dolphin-qwen
  gallery/index.yaml
Labels: area/ai-model

#2581 models(gallery): add tess-v2.5-phi-3-medium-128k-14b
  gallery/index.yaml
Labels: area/ai-model

#2582 models(gallery): add hathor_stable-v0.2-l3-8b
  gallery/index.yaml
Labels: area/ai-model

#2586 models(gallery): add samantha-qwen2
  gallery/index.yaml
Labels: area/ai-model

#2588 models(gallery): add gemma-1.1-7b-it
  gallery/index.yaml
Labels: area/ai-model

#2591 feat(sd-3): add stablediffusion 3 support
  backend/python/diffusers/backend.py
  backend/python/diffusers/requirements.txt
  gallery/index.yaml
  gallery/stablediffusion3.yaml
Labels: enhancement, area/ai-model

#2602 fix(single-binary): bundle ld.so
  .github/workflows/release.yaml
  Makefile
  core/cli/models.go
  pkg/library/dynaload.go
  pkg/model/initializers.go
  pkg/model/process.go
Labels: bug

#2608 models(gallery): add l3-umbral-mind-rp-v1.0-8b-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2612 models(gallery): add llama-3-cursedstock-v1.8-8b-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2613 models(gallery): add llama3-8b-darkidol-1.1-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2615 models(gallery): add qwen2-1.5b-ita
  gallery/index.yaml
Labels: area/ai-model

#2626 models(gallery): add hermes-2-theta-llama-3-70b
  gallery/hermes-2-pro-mistral.yaml
  gallery/index.yaml
Labels: area/ai-model

#2627 fix(install.sh): correctly handle systemd service installation
  docs/static/install.sh
Labels: bug

#2628 feat(oci): support OCI images and Ollama models
  core/cli/models.go
  core/http/app_test.go
  core/startup/config_file_watcher.go
  core/startup/startup.go
  embedded/embedded.go
  go.mod
  go.sum
  pkg/downloader/uri.go
  pkg/downloader/uri_test.go
  pkg/gallery/gallery.go
  pkg/gallery/models.go
  pkg/oci/blob.go
  pkg/oci/blob_test.go
  pkg/oci/image.go
  pkg/oci/image_test.go
  pkg/oci/oci_suite_test.go
  pkg/oci/ollama.go
  pkg/oci/ollama_test.go
  pkg/startup/model_preload.go
Labels: enhancement

#2620 fix(worker): use dynaload for single binaries
  core/cli/worker/worker_llamacpp.go
  core/cli/worker/worker_p2p.go
  pkg/library/dynaload.go
Labels: bug

#2649 feat(whisper): add translate option
  backend/backend.proto
  backend/go/transcribe/transcript.go
  backend/go/transcribe/whisper.go
  core/backend/transcript.go
  core/cli/transcript.go
  core/http/endpoints/openai/transcription.go
  core/schema/prediction.go
Labels: enhancement

#2648 feat(vulkan): add vulkan support to the llama.cpp backend
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  Dockerfile
  Makefile
Labels: enhancement

#2657 feat(ui): allow to select between all the available models in the chat
  core/http/routes/ui.go
  core/http/views/chat.html
  core/http/views/talk.html
Labels: enhancement, ux, area/webui

#2659 feat(build): only build llama.cpp relevant targets
  Makefile
  backend/cpp/llama/Makefile
Labels: enhancement

#2660 feat(options): add `repeat_last_n`
  backend/cpp/llama/grpc-server.cpp
  core/backend/options.go
  core/schema/prediction.go
Labels: enhancement

#2662 feat(grammar): expose properties_order
  pkg/functions/options.go
  pkg/functions/parse.go
Labels: enhancement

#2663 models(gallery): add dark-idol-1.2
  gallery/index.yaml
Labels: area/ai-model

#2665 models(gallery): add arcee-spark
  gallery/index.yaml
Labels: area/ai-model

#2670 models(gallery): add gemma2-9b-it and gemma2-27b-it
  gallery/index.yaml
Labels: area/ai-model

#2672 models(gallery): add new-dawn-llama
  gallery/index.yaml
Labels: area/ai-model

#2679 models(gallery): add l3-aethora-15b-v2
  gallery/index.yaml
Labels: area/ai-model

#2682 models(gallery): add bungo-l3-8b-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2686 models(gallery): add llama3-8b-darkidol-2.1-uncensored-1048k-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#2684 models(gallery): add llm-compiler
  gallery/index.yaml
Labels: area/ai-model

#2687 models(gallery): add llama3-turbcat-instruct-8b
  gallery/index.yaml
Labels: area/ai-model
