Repository mudler/LocalAI, pull requests merged in 2024-04, with the labels that each got.

#1947 fix(hermes-2-pro-mistral): correct stopwords
  aio/cpu/text-to-text.yaml
  aio/gpu-8g/text-to-text.yaml
  aio/intel/text-to-text.yaml
  embedded/models/hermes-2-pro-mistral.yaml
Labels: bug

#1985 fix(autogptq): do not use_triton with qwen-vl
  backend/python/autogptq/autogptq.py
Labels: bug

#1975 deps: Update version of vLLM to add support of Cohere Command_R model in vLLM inference
  backend/python/common-env/transformers/transformers-nvidia.yml
  backend/python/common-env/transformers/transformers-rocm.yml
  backend/python/common-env/transformers/transformers.yml
Labels: dependencies

#1974 feat: kong cli refactor fixes #1955
  .env
  core/cli/cli.go
  core/cli/models.go
  core/cli/run.go
  core/cli/transcript.go
  core/cli/tts.go
  docs/content/docs/advanced/advanced-usage.md
  go.mod
  go.sum
  main.go
Labels: enhancement

#1995 feat: add flash-attn in nvidia and rocm envs
  backend/python/common-env/transformers/install.sh
Labels: enhancement

#2012 feat(gallery): support ConfigURLs
  core/http/api_test.go
  core/http/endpoints/localai/gallery.go
  core/services/gallery.go
  docs/content/docs/features/model-gallery.md
  pkg/gallery/op.go
Labels: enhancement

#1993 fix: dont commit generated files to git
  .dockerignore
  .github/workflows/test-extra.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  Makefile
  backend/backend_grpc.pb.go
  backend/python/autogptq/Makefile
  backend/python/autogptq/backend_pb2.py
  backend/python/autogptq/backend_pb2_grpc.py
  backend/python/bark/Makefile
  backend/python/bark/backend_pb2.py
  backend/python/bark/backend_pb2_grpc.py
  backend/python/coqui/Makefile
  backend/python/coqui/backend_pb2.py
  backend/python/coqui/backend_pb2_grpc.py
  backend/python/diffusers/Makefile
  backend/python/diffusers/backend_pb2.py
  backend/python/diffusers/backend_pb2_grpc.py
  backend/python/exllama/Makefile
  backend/python/exllama/backend_pb2.py
  backend/python/exllama/backend_pb2_grpc.py
  backend/python/exllama2/Makefile
  backend/python/exllama2/backend_pb2.py
  backend/python/exllama2/backend_pb2_grpc.py
  backend/python/mamba/Makefile
  backend/python/mamba/backend_pb2.py
  backend/python/mamba/backend_pb2_grpc.py
  backend/python/petals/Makefile
  backend/python/petals/backend_pb2.py
  backend/python/petals/backend_pb2_grpc.py
  backend/python/sentencetransformers/Makefile
  backend/python/sentencetransformers/backend_pb2.py
  backend/python/sentencetransformers/backend_pb2_grpc.py
  backend/python/transformers-musicgen/Makefile
  backend/python/transformers-musicgen/backend_pb2.py
  backend/python/transformers-musicgen/backend_pb2_grpc.py
  backend/python/transformers/Makefile
  backend/python/transformers/backend_pb2.py
  backend/python/transformers/backend_pb2_grpc.py
  backend/python/vall-e-x/Makefile
  backend/python/vall-e-x/backend_pb2.py
  backend/python/vall-e-x/backend_pb2_grpc.py
  backend/python/vllm/Makefile
  backend/python/vllm/backend_pb2.py
  backend/python/vllm/backend_pb2_grpc.py
  docs/content/docs/getting-started/build.md
  pkg/grpc/proto/backend.pb.go
  pkg/grpc/proto/backend_grpc.pb.go
Labels: enhancement, area/build

#2025 ci: fix release pipeline missing dependencies
  .github/workflows/release.yaml
Labels: bug

#1977 feat(store): add Golang client
  core/clients/store.go
Labels: enhancement

#2048 fix(fncall): fix regression introduced in #1963
  core/services/openai.go
Labels: bug

#2071 fix: move the GRPC cache generation workflow into it's own concurrency group
  .github/workflows/generate_grpc_cache.yaml
Labels: bug, area/ci

#2069 refactor(template): isolate and add tests
  pkg/model/loader.go
  pkg/model/loader_test.go
  pkg/templates/cache.go
  pkg/templates/cache_test.go
  pkg/templates/utils_suite_test.go
  pkg/utils/path.go
Labels: enhancement

#2094 fix(llama.cpp-ggml): fixup `max_tokens` for old backend
  core/config/backend_config.go
Labels: bug

#2104 feat: Galleries UI
  README.md
  core/config/backend_config.go
  core/http/app.go
  core/http/elements/gallery.go
  core/http/endpoints/localai/welcome.go
  core/http/routes/localai.go
  core/http/routes/ui.go
  core/http/routes/welcome.go
  core/http/views/models.html
  core/http/views/partials/head.html
  core/http/views/partials/navbar.html
  docs/content/docs/overview.md
  go.mod
  go.sum
  main.go
  pkg/downloader/progress.go
  pkg/downloader/uri.go
  pkg/gallery/models.go
  pkg/gallery/op.go
  pkg/startup/model_preload.go
Labels: enhancement, area/webui

#2121 feat(rerankers): Add new backend, support jina rerankers API
  .github/workflows/test-extra.yml
  Dockerfile
  Makefile
  aio/cpu/rerank.yaml
  aio/entrypoint.sh
  aio/gpu-8g/rerank.yaml
  aio/intel/rerank.yaml
  backend/backend.proto
  backend/python/common-env/transformers/transformers-nvidia.yml
  backend/python/common-env/transformers/transformers-rocm.yml
  backend/python/common-env/transformers/transformers.yml
  backend/python/rerankers/Makefile
  backend/python/rerankers/README.md
  backend/python/rerankers/reranker.py
  backend/python/rerankers/run.sh
  backend/python/rerankers/test.sh
  backend/python/rerankers/test_reranker.py
  core/backend/rerank.go
  core/http/app.go
  core/http/endpoints/jina/rerank.go
  core/http/routes/jina.go
  core/schema/jina.go
  pkg/grpc/backend.go
  pkg/grpc/client.go
  pkg/grpc/embed.go
Labels: enhancement

#2151 feat(gallery): display job status also during navigation
  core/config/backend_config.go
  core/http/elements/gallery.go
  core/http/routes/ui.go
  pkg/xsync/map.go
  pkg/xsync/map_test.go
  pkg/xsync/sync_suite_test.go
Labels: enhancement

#2155 models(gallery): add average_normie
  gallery/index.yaml
Labels: area/ai-model

#2157 models(gallery): add solana
  gallery/index.yaml
Labels: area/ai-model

#2158 models(gallery): add poppy porpoise
  gallery/index.yaml
Labels: area/ai-model

#2160 models(gallery): add Undi95/Llama-3-LewdPlay-8B-evo-GGUF
  gallery/index.yaml
Labels: area/ai-model

#2161 models(gallery): add biomistral-7b
  gallery/index.yaml
  gallery/llama3-instruct.yaml
Labels: area/ai-model

#2166 docs: update gallery, add rerankers
  README.md
  docs/content/docs/advanced/_index.en.md
  docs/content/docs/features/model-gallery.md
  docs/content/docs/features/reranker.md
  docs/content/docs/features/text-to-audio.md
  docs/content/docs/integrations.md
  docs/content/docs/overview.md
  docs/content/docs/reference/_index.en.md
Labels: kind/documentation

#2170 fix: swap to WHISPER_CUDA per deprecation message from whisper.cpp
  Makefile
Labels: enhancement

#2172 feat: only keep the build artifacts from the grpc build
  .github/workflows/image_build.yml
  Dockerfile
Labels: enhancement

#2180 fix: github bump_docs.sh regex to drop emoji and other text
  .github/bump_docs.sh
Labels: ci

#2183 models(gallery): add llama3-32k
  gallery/chatml.yaml
  gallery/index.yaml
Labels: area/ai-model

#2184 models(gallery): add openvino models
  gallery/index.yaml
  gallery/openvino.yaml
Labels: area/ai-model

#2193 models(gallery): add lexifun
  gallery/index.yaml
Labels: area/ai-model

#2194 models(gallery): add suzume-llama-3-8B-multilingual-gguf
  gallery/index.yaml
Labels: area/ai-model

#2195 models(gallery): add guillaumetell
  gallery/index.yaml
Labels: area/ai-model
