Repository mudler/LocalAI, pull requests merged in 2024-11, with the labels that each got.

#4028 models(gallery): add llama3.1-bestmix-chem-einstein-8b
  gallery/index.yaml
Labels: area/ai-model

#4032 models(gallery): add starcannon-unleashed-12b-v1.0
  gallery/index.yaml
Labels: area/ai-model

#4033 models(gallery): add smollm2-1.7b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4042 models(gallery): add whiterabbitneo-2.5-qwen-2.5-coder-7b
  gallery/index.yaml
Labels: area/ai-model

#4043 models(gallery): add llama-3.1-whiterabbitneo-2-8b
  gallery/index.yaml
Labels: area/ai-model

#4056 models(gallery): add g2-9b-aletheia-v1
  gallery/index.yaml
Labels: area/ai-model

#4063 models(gallery): add cybertron-v4-qw7b-mgs
  gallery/index.yaml
Labels: area/ai-model

#4073 models(gallery): add g2-9b-sugarquill-v0
  gallery/index.yaml
Labels: area/ai-model

#4081 feat(diffusers): allow multiple lora adapters
  backend/backend.proto
  backend/python/diffusers/backend.py
  core/backend/options.go
  core/config/backend_config.go
Labels: enhancement

#4086 feat(ui): move model detailed info to a modal
  core/http/elements/buttons.go
  core/http/elements/gallery.go
  core/http/elements/p2p.go
  core/http/elements/progressbar.go
  core/http/static/assets/flowbite.min.js
  core/http/views/partials/head.html
  embedded/webui_static.yaml
Labels: enhancement

#4088 models(gallery): add q25-1.5b-veolu
  gallery/index.yaml
Labels: area/ai-model

#4089 models(gallery): add valor-7b-v0.1
  gallery/index.yaml
Labels: area/ai-model

#4095 models(gallery): add tess-r1-limerick-llama-3.1-70b
  gallery/index.yaml
Labels: area/ai-model

#4098 models(gallery): add llenn-v0.75-qwen2.5-72b-i1
  gallery/index.yaml
Labels: area/ai-model

#4099 models(gallery): add eva-qwen2.5-14b-v0.2
  gallery/index.yaml
Labels: area/ai-model

#4101 models(gallery): add opencoder-8b instruct and base
  gallery/index.yaml
Labels: area/ai-model

#4102 models(gallery): add opencoder-1.5b instruct and base
  gallery/index.yaml
Labels: area/ai-model

#4103 models(gallery): add tissint-14b-128k-rp
  gallery/index.yaml
Labels: area/ai-model

#4104 models(gallery): add tq2.5-14b-sugarquill-v1
  gallery/index.yaml
Labels: area/ai-model

#4107 models(gallery): add calme-3 qwen2.5 series
  gallery/index.yaml
Labels: area/ai-model

#4108 models(gallery): add calme-3 qwenloi series
  gallery/index.yaml
Labels: area/ai-model

#4110 models(gallery): add mn-tiramisu-12b
  gallery/index.yaml
Labels: area/ai-model

#4125 models(gallery): add qwen2.5-coder-14b
  gallery/index.yaml
Labels: area/ai-model

#4126 models(gallery): add qwen2.5-coder-3b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4127 models(gallery): add qwen2.5-coder-32b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4128 models(gallery): add qwen2.5-coder-14b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4129 models(gallery): add qwen2.5-coder-1.5b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4130 models(gallery): add qwen2.5-coder-7b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4131 models(gallery): add qwen2.5-coder-7b-3x-instruct-ties-v1.2-i1
  gallery/index.yaml
Labels: area/ai-model

#4132 models(gallery): add qwen2.5-coder-7b-instruct-abliterated-i1
  gallery/index.yaml
Labels: area/ai-model

#4133 models(gallery): add rombos-coder-v2.5-qwen-7b
  gallery/index.yaml
Labels: area/ai-model

#4134 models(gallery): add rombos-coder-v2.5-qwen-32b
  gallery/index.yaml
Labels: area/ai-model

#4135 models(gallery): add rombos-coder-v2.5-qwen-14b
  gallery/index.yaml
Labels: area/ai-model

#4136 models(gallery): add eva-qwen2.5-72b-v0.1-i1
  gallery/index.yaml
Labels: area/ai-model

#4141 models(gallery): add mistral-nemo-prism-12b
  gallery/index.yaml
Labels: area/ai-model

#4143 models(gallery): add tess-3-llama-3.1-70b
  gallery/index.yaml
Labels: area/ai-model

#4145 models(gallery): add celestial-harmony-14b-v1.0-experimental-1016-i1
  gallery/index.yaml
Labels: area/ai-model

#4146 models(gallery): add llama3.1-8b-enigma
  gallery/index.yaml
Labels: area/ai-model

#4147 chore(model): add llama3.1-8b-cobalt to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4149 chore(model): add llama3.2-3b-enigma to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4150 chore(model): add llama-3.1-8b-arliai-rpmax-v1.3 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4152 chore(model): add l3.1-8b-slush-i1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4158 models(gallery): add q2.5-ms-mistoria-72b-i1
  gallery/index.yaml
Labels: area/ai-model

#4159 chore(model): add l3.1-ms-astoria-70b-v2 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4160 chore(model): add magnum-v2-4b-i1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4162 chore(model): add athene-v2-chat to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4167 fix(hipblas): disable avx flags when accellerated bins are used
  Makefile
Labels: bug

#4171 chore(model): add qwen2.5-7b-nerd-uncensored-v1.7 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4174 chore(model): add llama3.2-3b-shiningvaliant2-i1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4176 chore(model): add evathene-v1.0 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4177 chore(model): add miniclaus-qw1.5b-unamgs to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4201 chore(deps): bump sycl intel image
  .github/workflows/generate_intel_image.yaml
  Makefile
Labels: bug

#4197 feat: add WebUI API token authorization
  core/http/app_test.go
  core/http/middleware/auth.go
  core/http/views/login.html
Labels: enhancement, ux

#4204 feat(silero): add Silero-vad backend
  Makefile
  backend/backend.proto
  backend/go/vad/silero/main.go
  backend/go/vad/silero/vad.go
  core/http/endpoints/localai/vad.go
  core/http/routes/localai.go
  core/schema/localai.go
  go.mod
  go.sum
  pkg/grpc/backend.go
  pkg/grpc/base/base.go
  pkg/grpc/client.go
  pkg/grpc/embed.go
  pkg/grpc/interface.go
  pkg/grpc/server.go
Labels: enhancement

#4206 fix(go.mod): add urfave/cli v2
  go.sum
Labels: bug

#4207 chore(go.mod): add valyala/fasttemplate
  go.sum
Labels: bug

#4210 chore(model): add silero-vad to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4219 fix(p2p): parse maddr correctly
  core/p2p/p2p.go
Labels: bug

#4220 fix(p2p): parse correctly ExtraLLamaCPPArgs
  core/cli/worker/worker_p2p.go
Labels: bug

#4222 models(gallery): add llama-mesh
  gallery/index.yaml
Labels: area/ai-model

#4223 chore(model): add llama-doctor-3.2-3b-instruct to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4225 chore(model): add copus-2x8b-i1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4226 chore(model): add llama-3.1-8b-instruct-ortho-v3 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4228 chore(model): add llama-3.1-tulu-3-8b-dpo to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4229 chore(model): add marco-o1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4230 chore(model): add onellm-doey-v1-llama-3.2-3b to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4235 chore(model): add llama-sentient-3.2-3b-instruct to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4236 chore(model): add qwen2.5-3b-smart-i1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4237 chore(model): add l3.1-aspire-heart-matrix-8b to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4242 chore(model): add dark-chivalry_v1.0-i1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4241 chore(model): add qwen2.5-coder-32b-instruct-uncensored-i1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4243 chore(model): add tulu-3.1-8b-supernova-i1 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4263 chore(deps): bump llama.cpp to `47f931c8f9a26c072d71224bc8013cc66ea9e445`
  Makefile
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#4264 feat(models): use rwkv from llama.cpp
  .gitignore
  Makefile
  README.md
  backend/cpp/llama/grpc-server.cpp
  backend/go/llm/rwkv/main.go
  backend/go/llm/rwkv/rwkv.go
  go.mod
  pkg/model/initializers.go
  tests/models_fixtures/rwkv.yaml
  tests/models_fixtures/rwkv_chat.tmpl
  tests/models_fixtures/rwkv_completion.tmpl
Labels: enhancement, breaking-change

#4270 chore(model): add rwkv-6-world-7b to the gallery
  gallery/index.yaml
  gallery/rwkv.yaml
Labels: area/ai-model

#4272 feat(backends): Drop bert.cpp
  Makefile
  aio/cpu/embeddings.yaml
  backend/go/llm/bert/bert.go
  backend/go/llm/bert/main.go
  core/gallery/models_test.go
  core/http/app_test.go
  docs/content/docs/features/embeddings.md
  docs/content/docs/features/model-gallery.md
  embedded/models/bert-cpp.yaml
  gallery/bert-embeddings.yaml
  gallery/index.yaml
  pkg/model/initializers.go
  tests/models_fixtures/embeddings.yaml
Labels: enhancement, area/ai-model, breaking-change

#4275 chore(model): add q2.5-ms-mistoria-72b-v2 model config
  gallery/index.yaml
Labels: area/ai-model

#4276 chore(model): add llama-3.1-tulu-3-70b-dpo model config
  gallery/index.yaml
Labels: area/ai-model

#4278 chore(model): add eva-qwen2.5-72b-v0.2 to the gallery
  gallery/index.yaml
Labels: area/ai-model

#4279 fix(llama.cpp): embed metal file into result binary for darwin
  Makefile
  backend/cpp/llama/Makefile
Labels: bug

#4283 fix(rwkv model): add stoptoken
  gallery/rwkv.yaml
  tests/models_fixtures/rwkv.yaml
Labels: area/ai-model

#4284 chore(model gallery): add qwq-32b-preview
  gallery/index.yaml
Labels: area/ai-model

#4285 chore(model gallery): add llama-smoltalk-3.2-1b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4282 feat: include tokens usage for streamed output
  core/backend/llm.go
  core/http/endpoints/openai/chat.go
  pkg/grpc/backend.go
  pkg/grpc/client.go
  pkg/grpc/embed.go
Labels: enhancement

#4292 chore(model gallery): add q2.5-32b-slush-i1
  gallery/index.yaml
Labels: area/ai-model

#4293 chore(model gallery): add freyja-v4.95-maldv-7b-non-fiction-i1
  gallery/index.yaml
Labels: area/ai-model
