Repository mudler/LocalAI, pull requests merged in 2025-02, with the labels that each got.

#4731 chore(model gallery): add fuseo1-deekseekr1-qwq-skyt1-32b-preview
  gallery/index.yaml
Labels: area/ai-model

#4733 feat(llama.cpp): Add support to grammar triggers
  backend/backend.proto
  backend/cpp/llama/grpc-server.cpp
  core/backend/options.go
  pkg/functions/parse.go
Labels: enhancement

#4724 feat: tokenization with llama.cpp
  backend/cpp/llama/grpc-server.cpp
  core/backend/tokenize.go
  core/http/endpoints/localai/tokenize.go
Labels: enhancement

#4737 chore(model gallery): add steelskull_l3.3-damascus-r1
  gallery/index.yaml
Labels: area/ai-model

#4738 chore(model gallery): add thedrummer_gemmasutra-pro-27b-v1.1
  gallery/index.yaml
Labels: area/ai-model

#4739 chore(model gallery): add uncensoredai_uncensoredlm-deepseek-r1-distill-qwen-14b
  gallery/index.yaml
Labels: area/ai-model

#4740 chore(model gallery): add LocalAI-functioncall-llama3.2-1b-v0.4
  gallery/index.yaml
  gallery/llama3.2-fcall.yaml
Labels: area/ai-model

#4758 chore(model gallery): add fblgit_miniclaus-qw1.5b-unamgs-grpo
  gallery/index.yaml
Labels: area/ai-model

#4759 chore(model gallery): add nohobby_l3.3-prikol-70b-v0.4
  gallery/index.yaml
Labels: area/ai-model

#4760 chore(model gallery): add suayptalha_maestro-10b
  gallery/index.yaml
Labels: area/ai-model

#4763 chore(model gallery): add agi-0_art-skynet-3b
  gallery/index.yaml
Labels: area/ai-model

#4764 chore(model gallery): add rubenroy_gilgamesh-72b
  gallery/index.yaml
Labels: area/ai-model

#4765 chore(model gallery): add krutrim-ai-labs_krutrim-2-instruct
  gallery/index.yaml
Labels: area/ai-model

#4766 chore(model gallery): add LocalAI-functioncall-llama3.2-3b-v0.5
  gallery/index.yaml
Labels: area/ai-model

#4768 fix(gallery): do not return overrides and additional config
  core/gallery/models_test.go
  core/gallery/request.go
  core/gallery/request_test.go
  core/http/app_test.go
  core/http/endpoints/localai/gallery.go
Labels: bug

#4772 chore(model gallery): add arliai_llama-3.3-70b-arliai-rpmax-v1.4
  gallery/index.yaml
Labels: area/ai-model

#4774 chore(model gallery): add black-ink-guild_pernicious_prophecy_70b
  gallery/index.yaml
Labels: area/ai-model

#4771 fix(openai): consistently return stop reason
  core/http/endpoints/openai/chat.go
Labels: bug

#4775 chore(llama-ggml): drop deprecated backend
  Makefile
  backend/go/llm/llama-ggml/llama.go
  backend/go/llm/llama-ggml/main.go
  core/http/app_test.go
  docs/content/docs/features/text-generation.md
  pkg/model/initializers.go
Labels: breaking-change, dependencies

#2911 fix(llama.cpp): disable mirostat as default
  core/config/backend_config.go
Labels: bug, breaking-change, ux

#4777 chore(model gallery): add nohobby_l3.3-prikol-70b-v0.5
  gallery/index.yaml
Labels: area/ai-model

#4778 chore(model gallery): add cognitivecomputations_dolphin3.0-r1-mistral-24b
  gallery/index.yaml
Labels: area/ai-model

#4779 chore(model gallery): add cognitivecomputations_dolphin3.0-mistral-24b
  gallery/index.yaml
Labels: area/ai-model

#4781 chore(model gallery): add sicariussicariistuff_redemption_wind_24b
  gallery/index.yaml
Labels: area/ai-model

#4790 chore(model gallery): add huihui-ai_deepseek-r1-distill-llama-70b-abliterated
  gallery/index.yaml
Labels: area/ai-model

#4792 chore(model gallery): add subtleone_qwen2.5-32b-erudite-writer
  gallery/index.yaml
Labels: area/ai-model

#4795 chore(model gallery): add ilsp_llama-krikri-8b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4796 chore(model gallery): add localai-functioncall-qwen2.5-7b-v0.5
  gallery/index.yaml
  gallery/qwen-fcall.yaml
Labels: area/ai-model

#4804 chore(model gallery): add agentica-org_deepscaler-1.5b-preview
  gallery/index.yaml
Labels: area/ai-model

#4812 chore(model gallery): add simplescaling_s1.1-32b
  gallery/index.yaml
Labels: area/ai-model

#4813 chore(model gallery): add theskullery_l3.3-exp-unnamed-model-70b-v0.5
  gallery/index.yaml
Labels: area/ai-model

#4819 chore(model gallery): add nvidia_aceinstruct-1.5b
  gallery/index.yaml
Labels: area/ai-model

#4821 chore(model gallery): add nvidia_aceinstruct-7b
  gallery/index.yaml
Labels: area/ai-model

#4822 chore(model gallery): add nvidia_aceinstruct-72b
  gallery/index.yaml
Labels: area/ai-model

#4826 chore(model gallery): add sicariussicariistuff_phi-lthy4
  gallery/index.yaml
Labels: area/ai-model

#4828 chore(model gallery): add nousresearch_deephermes-3-llama-3-8b-preview
  gallery/deephermes.yaml
  gallery/index.yaml
Labels: area/ai-model

#4820 fix(llama.cpp): improve context shift handling
  backend/cpp/llama/grpc-server.cpp
Labels: bug

#4830 chore(model gallery): add rombo-org_rombo-llm-v3.0-qwen-32b
  gallery/index.yaml
Labels: area/ai-model

#4832 chore(model gallery): add pygmalionai_eleusis-12b
  gallery/index.yaml
Labels: area/ai-model

#4833 chore(model gallery): add davidbrowne17_llamathink-8b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4835 chore(model gallery): add ozone-ai_0x-lite
  gallery/index.yaml
Labels: area/ai-model

#4837 fix: change initialization order of llama-cpp-avx512 to go before avx2 variant
  pkg/model/initializers.go
Labels: bug

#4841 chore: update Image generation docs and examples
  docs/content/docs/features/image-generation.md
  docs/content/docs/reference/compatibility-table.md
  gallery/index.yaml
  gallery/stablediffusion.yaml
Labels: area/ai-model

#4840 chore(deps): Bump edgevpn to v0.30.1
  go.mod
  go.sum
Labels: dependencies

#4858 chore(model gallery): add kubeguru-llama3.2-3b-v0.1
  gallery/index.yaml
Labels: area/ai-model

#4859 chore(model gallery): add allenai_llama-3.1-tulu-3.1-8b
  gallery/index.yaml
Labels: area/ai-model

#4860 chore(model gallery): add nbeerbower_dumpling-qwen2.5-14b
  gallery/index.yaml
Labels: area/ai-model

#4861 chore(model gallery): add nbeerbower_dumpling-qwen2.5-32b-v2
  gallery/index.yaml
Labels: area/ai-model

#4862 chore(model gallery): add nbeerbower_dumpling-qwen2.5-72b
  gallery/index.yaml
Labels: area/ai-model

#4855 feat(vllm): Additional vLLM config options (Disable logging, dtype, and Per-Prompt media limits)
  backend/backend.proto
  backend/python/vllm/backend.py
  core/backend/options.go
  core/config/backend_config.go
  gallery/vllm.yaml
Labels: area/ai-model, dependencies

#4866 chore(model gallery): add pygmalionai_pygmalion-3-12b
  gallery/index.yaml
Labels: area/ai-model

#4867 chore(model gallery): add open-r1_openr1-qwen-7b
  gallery/index.yaml
Labels: area/ai-model

#4868 chore(model gallery): add sentientagi_dobby-unhinged-llama-3.3-70b
  gallery/index.yaml
Labels: area/ai-model

#4873 chore(model gallery): add internlm_oreal-deepseek-r1-distill-qwen-7b
  gallery/index.yaml
Labels: area/ai-model

#4874 chore(model gallery): add internlm_oreal-7b
  gallery/index.yaml
Labels: area/ai-model

#4875 fix(coqui): pin transformers
  backend/python/coqui/requirements-cpu.txt
  backend/python/coqui/requirements-cublas11.txt
  backend/python/coqui/requirements-cublas12.txt
  backend/python/coqui/requirements-hipblas.txt
  backend/python/coqui/requirements-intel.txt
Labels: bug

#4877 chore(model gallery): add smirki_uigen-t1.1-qwen-14b
  gallery/index.yaml
Labels: area/ai-model

#4878 chore(model gallery): add smirki_uigen-t1.1-qwen-7b
  gallery/index.yaml
Labels: area/ai-model

#4879 chore(model gallery): add l3.1-8b-rp-ink
  gallery/index.yaml
Labels: area/ai-model

#4880 chore(model gallery): add pocketdoc_dans-personalityengine-v1.2.0-24b
  gallery/index.yaml
Labels: area/ai-model

#4882 chore(model gallery): add rombo-org_rombo-llm-v3.0-qwen-72b
  gallery/index.yaml
Labels: area/ai-model

#4883 chore(model gallery): add ozone-ai_reverb-7b
  gallery/index.yaml
Labels: area/ai-model

#4884 chore(model gallery): add arcee-ai_arcee-maestro-7b-preview
  gallery/index.yaml
Labels: area/ai-model

#4885 chore(model gallery): add steelskull_l3.3-mokume-gane-r1-70b
  gallery/index.yaml
Labels: area/ai-model

#4889 chore(stable-diffusion-ggml): update, adapt upstream changes
  Makefile
  backend/go/image/stablediffusion-ggml/gosd.cpp
Labels: dependencies

#4892 chore(model gallery): add steelskull_l3.3-cu-mai-r1-70b
  gallery/index.yaml
Labels: area/ai-model

#4894 chore(model gallery): add nohobby_l3.3-prikol-70b-extra
  gallery/index.yaml
Labels: area/ai-model

#4895 chore(model gallery): add flux.1dev-abliteratedv2
  gallery/index.yaml
Labels: area/ai-model

#4901 chore(model gallery): add sicariussicariistuff_phi-line_14b
  gallery/index.yaml
Labels: area/ai-model

#4903 chore(model gallery): add latitudegames_wayfarer-large-70b-llama-3.3
  gallery/index.yaml
Labels: area/ai-model

#4910 feat(ui): improve chat interface
  core/gallery/gallery.go
  core/http/routes/ui.go
  core/http/static/chat.js
  core/http/views/chat.html
  core/http/views/models.html
Labels: enhancement, area/webui

#4912 chore(model gallery): add locutusque_thespis-llama-3.1-8b
  gallery/index.yaml
Labels: area/ai-model
