Repository mudler/LocalAI, pull requests merged in 2025-04, with the labels that each got.

#5107 feat(loader): enhance single active backend by treating as singleton
  core/application/application.go
  core/application/startup.go
  core/backend/embeddings.go
  core/backend/image.go
  core/backend/llm.go
  core/backend/options.go
  core/backend/rerank.go
  core/backend/soundgeneration.go
  core/backend/token_metrics.go
  core/backend/tokenize.go
  core/backend/transcript.go
  core/backend/tts.go
  core/backend/vad.go
  core/cli/soundgeneration.go
  core/cli/transcript.go
  core/cli/tts.go
  core/http/endpoints/localai/stores.go
  core/http/endpoints/openai/assistant_test.go
  core/http/routes/localai.go
  pkg/model/initializers.go
  pkg/model/loader.go
  pkg/model/loader_options.go
  pkg/model/loader_test.go
  tests/integration/stores_test.go
Labels: enhancement

#5111 chore(model gallery): add all-hands_openhands-lm-32b-v0.1
  gallery/index.yaml
Labels: area/ai-model

#5112 chore(model gallery): add burtenshaw_gemmacoder3-12b
  gallery/index.yaml
Labels: area/ai-model

#5113 chore(model gallery): add all-hands_openhands-lm-7b-v0.1
  gallery/index.yaml
Labels: area/ai-model

#5110 chore(deps): bump llama.cpp to 'f01bd02376f919b05ee635f438311be8dfc91d7c
  Makefile
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#5114 chore(model gallery): add all-hands_openhands-lm-1.5b-v0.1
  gallery/index.yaml
Labels: area/ai-model

#5115 fix(sycl): kernel not found error by forcing -fsycl
  .github/workflows/generate_intel_image.yaml
  Makefile
  backend/cpp/llama/Makefile
Labels: dependencies

#5117 chore(model gallery): add gemma-3-12b-it-qat
  gallery/index.yaml
Labels: area/ai-model

#5119 chore(model gallery): add tesslate_synthia-s1-27b
  gallery/index.yaml
Labels: area/ai-model

#5120 chore(model gallery): add katanemo_arch-function-chat-7b
  gallery/index.yaml
Labels: area/ai-model

#5121 chore(model gallery): add katanemo_arch-function-chat-1.5b
  gallery/index.yaml
Labels: area/ai-model

#5122 chore(model gallery): add katanemo_arch-function-chat-3b
  gallery/index.yaml
Labels: area/ai-model

#5124 chore(model gallery): add gemma-3-27b-it-qat
  gallery/index.yaml
Labels: area/ai-model

#5128 chore(model gallery): add open-thoughts_openthinker2-32b
  gallery/index.yaml
Labels: area/ai-model

#5129 chore(model gallery): add open-thoughts_openthinker2-7b
  gallery/index.yaml
Labels: area/ai-model

#5127 chore: :arrow_up: Update ggml-org/llama.cpp to `6bf28f0111ff9f21b3c1b1eace20c590281e7ba6`
  Makefile
  backend/cpp/llama/CMakeLists.txt
  backend/cpp/llama/grpc-server.cpp
  backend/cpp/llama/prepare.sh
Labels: dependencies

#5137 chore(model gallery): add arliai_qwq-32b-arliai-rpr-v
  gallery/index.yaml
Labels: area/ai-model

#5138 chore(model gallery): add watt-ai_watt-tool-70b
  gallery/index.yaml
Labels: area/ai-model

#5139 chore(model gallery): add eurydice-24b-v2-i1
  gallery/index.yaml
Labels: area/ai-model

#5140 chore(model gallery): add mensa-beta-14b-instruct-i1
  gallery/index.yaml
Labels: area/ai-model

#5143 chore(deps): bump llama.cpp to `4ccea213bc629c4eef7b520f7f6c59ce9bbdaca0`
  Makefile
  backend/cpp/llama/Makefile
Labels: dependencies

#5145 chore(model gallery): add cogito-v1-preview-qwen-14b
  gallery/index.yaml
Labels: area/ai-model

#5149 chore(model gallery): add deepcogito_cogito-v1-preview-qwen-32b
  gallery/index.yaml
Labels: area/ai-model

#5154 chore(model gallery): add soob3123_amoral-cogito-v1-preview-qwen-14b
  gallery/index.yaml
Labels: area/ai-model

#5156 chore(model gallery): add agentica-org_deepcoder-1.5b-preview
  gallery/index.yaml
Labels: area/ai-model

#5157 chore(model gallery): add zyphra_zr1-1.5b
  gallery/index.yaml
Labels: area/ai-model

#5160 chore(model gallery): add tesslate_gradience-t1-3b-preview
  gallery/index.yaml
Labels: area/ai-model

#5166 chore(model gallery): add mag-picaro-72b
  gallery/index.yaml
Labels: area/ai-model

#5167 chore(model gallery): add hamanasu-adventure-4b-i1
  gallery/index.yaml
Labels: area/ai-model

#5168 chore(model gallery): add hamanasu-magnum-4b-i1
  gallery/index.yaml
Labels: area/ai-model

#5169 chore(model gallery): add daichi-12b
  gallery/index.yaml
Labels: area/ai-model

#5172 Update README.md
  README.md
Labels: kind/documentation

#5175 chore(model gallery): add skywork_skywork-or1-32b-preview
  gallery/index.yaml
Labels: area/ai-model

#5176 chore(model gallery): add nvidia_llama-3.1-8b-ultralong-1m-instruct
  gallery/index.yaml
Labels: area/ai-model

#5177 chore(model gallery): add nvidia_llama-3.1-8b-ultralong-4m-instruct
  gallery/index.yaml
Labels: area/ai-model

#5182 chore(model gallery): add m1-32b
  gallery/index.yaml
Labels: area/ai-model

#5187 chore(model gallery): add suno-ai bark-cpp model
  gallery/index.yaml
Labels: area/ai-model

#5195 chore(model gallery): add thedrummer_rivermind-12b-v1
  gallery/index.yaml
Labels: area/ai-model

#5201 chore(model gallery): add qwen2.5-14b-instruct-1m
  gallery/index.yaml
Labels: area/ai-model

#5204 chore(model gallery): add ibm-granite_granite-3.3-8b-instruct
  gallery/index.yaml
Labels: area/ai-model

#5206 chore(model gallery): add readyart_amoral-fallen-omega-gemma3-12b
  gallery/index.yaml
Labels: area/ai-model

#5208 chore(model gallery): add pictor-1338-qwenp-1.5b
  gallery/index.yaml
Labels: area/ai-model

#5214 chore(autogptq): drop archived backend
  .github/dependabot.yml
  Dockerfile
  Makefile
  backend/backend.proto
  backend/python/autogptq/Makefile
  backend/python/autogptq/README.md
  backend/python/autogptq/backend.py
  backend/python/autogptq/install.sh
  backend/python/autogptq/requirements-cublas11.txt
  backend/python/autogptq/requirements-cublas12.txt
  backend/python/autogptq/requirements-hipblas.txt
  backend/python/autogptq/requirements-intel.txt
  backend/python/autogptq/requirements.txt
  backend/python/autogptq/run.sh
  backend/python/autogptq/test.sh
  core/backend/options.go
  core/config/backend_config.go
  core/http/middleware/request.go
  core/schema/openai.go
  core/schema/prediction.go
  docs/content/docs/advanced/advanced-usage.md
  docs/content/docs/features/GPU-acceleration.md
  docs/content/docs/features/text-generation.md
Labels: breaking-change

#5222 chore(model gallery) add llama_3.3_70b_darkhorse-i1
  gallery/index.yaml
Labels: area/ai-model

#5223 chore(model gallery) add amoral-gemma3-1b-v2
  gallery/index.yaml
Labels: area/ai-model

#5224 chore(model gallery): add starrysky-12b-i1
  gallery/index.yaml
Labels: area/ai-model

#5241 chore(model gallery): add soob3123_veritas-12b
  gallery/index.yaml
Labels: area/ai-model

#5249 chore(model gallery): add l3.3-geneticlemonade-unleashed-v2-70b
  gallery/index.yaml
Labels: area/ai-model

#5250 chore(model gallery): add l3.3-genetic-lemonade-sunset-70b
  gallery/index.yaml
Labels: area/ai-model

#5260 chore(model gallery): add nvidia_openmath-nemotron-32b
  gallery/index.yaml
Labels: area/ai-model

#5261 chore(model gallery): add nvidia_openmath-nemotron-1.5b
  gallery/index.yaml
Labels: area/ai-model

#5262 chore(model gallery): add nvidia_openmath-nemotron-7b
  gallery/index.yaml
Labels: area/ai-model

#5264 chore(model gallery): add nvidia_openmath-nemotron-14b-kaggle
  gallery/index.yaml
Labels: area/ai-model

#5269 chore(model gallery): add qwen3-30b-a3b
  gallery/index.yaml
  gallery/qwen3.yaml
Labels: area/ai-model

#5270 chore(model gallery): add qwen3-32b
  gallery/index.yaml
Labels: area/ai-model

#5271 chore(model gallery): add qwen3-14b
  gallery/index.yaml
Labels: area/ai-model

#5272 chore(model gallery): add qwen3-8b
  gallery/index.yaml
Labels: area/ai-model

#5273 chore(model gallery): add qwen3-4b
  gallery/index.yaml
Labels: area/ai-model

#5274 chore(model gallery): add qwen3-1.7b
  gallery/index.yaml
Labels: area/ai-model

#5276 fix(aio): Fix copypasta in download files for gpt-4 model
  aio/gpu-8g/text-to-text.yaml
Labels: bug

#5281 chore(model gallery): add mlabonne_qwen3-14b-abliterated
  gallery/index.yaml
Labels: area/ai-model

#5282 chore(model gallery): add mlabonne_qwen3-8b-abliterated
  gallery/index.yaml
Labels: area/ai-model

#5283 chore(model gallery): add mlabonne_qwen3-4b-abliterated
  gallery/index.yaml
Labels: area/ai-model
