Repository mudler/LocalAI, pull requests merged in 2025-01, with the labels that each got.

#4521 chore(model gallery): add smallthinker-3b-preview
  gallery/index.yaml
Labels: area/ai-model

#4522 chore(model gallery): add mn-12b-mag-mell-r1-iq-arm-imatrix
  gallery/index.yaml
Labels: area/ai-model

#4523 chore(model gallery): add captain-eris-diogenes_twilight-v0.420-12b
  gallery/index.yaml
Labels: area/ai-model

#4524 chore(model gallery): add violet_twilight-v0.2
  gallery/index.yaml
Labels: area/ai-model

#4525 chore(model gallery): add qwenwify2.5-32b-v4.5
  gallery/index.yaml
Labels: area/ai-model

#4526 chore(model gallery): add sainemo-remix
  gallery/index.yaml
Labels: area/ai-model

#4527 chore(model gallery): add l3.1-purosani-2-8b
  gallery/index.yaml
Labels: area/ai-model

#4530 chore(model gallery): add nera_noctis-12b
  gallery/index.yaml
Labels: area/ai-model

#4533 chore(model gallery): add drt-o1-7b
  gallery/index.yaml
Labels: area/ai-model

#4534 chore(model gallery): add codepy-deepthink-3b
  gallery/index.yaml
Labels: area/ai-model

#4535 chore(model gallery): add llama3.1-8b-prm-deepseek-data
  gallery/index.yaml
Labels: area/ai-model

#4539 chore(model gallery): add experimental-lwd-mirau-rp-14b-iq-imatrix
  gallery/index.yaml
Labels: area/ai-model

#4540 chore(model gallery): add llama-deepsync-3b
  gallery/index.yaml
Labels: area/ai-model

#4541 chore(model gallery): add qwentile2.5-32b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4543 chore(deps): bump grpcio to 1.69.0
  backend/python/autogptq/requirements.txt
  backend/python/bark/requirements.txt
  backend/python/common/template/requirements.txt
  backend/python/coqui/requirements.txt
  backend/python/diffusers/requirements.txt
  backend/python/exllama2/requirements.txt
  backend/python/mamba/requirements.txt
  backend/python/openvoice/requirements-intel.txt
  backend/python/openvoice/requirements.txt
  backend/python/parler-tts/requirements.txt
  backend/python/rerankers/requirements.txt
  backend/python/sentencetransformers/requirements.txt
  backend/python/transformers-musicgen/requirements.txt
  backend/python/transformers/requirements.txt
  backend/python/vall-e-x/requirements.txt
  backend/python/vllm/requirements.txt
Labels: dependencies

#4545 chore(model gallery): add 32b-qwen2.5-kunou-v1
  gallery/index.yaml
Labels: area/ai-model

#4546 chore(model gallery): add triangulum-10b
  gallery/index.yaml
Labels: area/ai-model

#4497 feat(ui): path prefix support via HTTP header
  core/http/app.go
  core/http/app_test.go
  core/http/elements/buttons.go
  core/http/elements/gallery.go
  core/http/elements/progressbar.go
  core/http/endpoints/explorer/dashboard.go
  core/http/endpoints/localai/gallery.go
  core/http/endpoints/localai/welcome.go
  core/http/explorer.go
  core/http/middleware/auth.go
  core/http/middleware/strippathprefix.go
  core/http/middleware/strippathprefix_test.go
  core/http/render.go
  core/http/routes/ui.go
  core/http/static/assets/font1.css
  core/http/static/assets/font2.css
  core/http/static/chat.js
  core/http/static/image.js
  core/http/static/talk.js
  core/http/static/tts.js
  core/http/utils/baseurl.go
  core/http/utils/baseurl_test.go
  core/http/views/404.html
  core/http/views/chat.html
  core/http/views/explorer.html
  core/http/views/index.html
  core/http/views/login.html
  core/http/views/models.html
  core/http/views/p2p.html
  core/http/views/partials/footer.html
  core/http/views/partials/head.html
  core/http/views/partials/inprogress.html
  core/http/views/partials/navbar.html
  core/http/views/partials/navbar_explorer.html
  core/http/views/talk.html
  core/http/views/text2image.html
  core/http/views/tts.html
Labels: enhancement

#4558 chore(model gallery): add dolphin3.0-qwen2.5-0.5b
  gallery/index.yaml
Labels: area/ai-model

#4562 chore(model gallery): add phi-4
  gallery/index.yaml
  gallery/phi-4-chat.yaml
Labels: area/ai-model

#4565 chore: update labeler.yml to include go files
  .github/labeler.yml
Labels: ci

#4564 chore(deps): bump edgevpn to v0.29.0
  go.mod
  go.sum
Labels: dependencies

#4566 chore(model gallery): add 14b-qwen2.5-freya-x1
  gallery/index.yaml
Labels: area/ai-model

#4567 chore(model gallery): add minithinky-v2-1b-llama-3.2
  gallery/index.yaml
Labels: area/ai-model

#4568 chore(model gallery): add huatuogpt-o1-7b-v0.1
  gallery/index.yaml
Labels: area/ai-model

#4574 chore(model gallery): add phi-3.5-moe-instruct
  gallery/index.yaml
Labels: area/ai-model

#4582 chore(model gallery): add nightwing3-10b-v0.1
  gallery/index.yaml
Labels: area/ai-model

#4583 chore(model gallery): add qwq-32b-preview-ideawhiz-v1
  gallery/index.yaml
Labels: area/ai-model

#4584 chore(model gallery): add rombos-qwen2.5-writer-32b
  gallery/index.yaml
Labels: area/ai-model

#4585 chore(model gallery): add sky-t1-32b-preview
  gallery/index.yaml
Labels: area/ai-model

#4586 chore(model gallery): add negative_llama_70b
  gallery/index.yaml
Labels: area/ai-model

#4587 chore(model gallery): add finemath-llama-3b
  gallery/index.yaml
Labels: area/ai-model

#4588 chore(model gallery): add LocalAI-functioncall-phi-4-v0.1
  gallery/index.yaml
  gallery/phi-4-chat-fcall.yaml
Labels: area/ai-model

#4581 feat(stablediffusion-ggml): respect build type
  Makefile
  backend/go/image/stablediffusion-ggml/Makefile
  backend/go/image/stablediffusion-ggml/gosd.go
Labels: enhancement, dependencies

#4589 chore(model gallery): add LocalAI-functioncall-phi-4-v0.2
  gallery/index.yaml
Labels: area/ai-model

#4599 chore(model gallery): add LocalAI-functioncall-phi-4-v0.3
  gallery/index.yaml
  gallery/phi-4-chat-fcall.yaml
Labels: area/ai-model

#4601 chore(model gallery): add qwen2.5-72b-rp-ink
  gallery/index.yaml
Labels: area/ai-model

#4602 chore(model gallery): add steiner-32b-preview
  gallery/index.yaml
Labels: area/ai-model

#4603 feat(diffusers): add support for Sana pipelines
  backend/python/diffusers/backend.py
Labels: enhancement

#4609 chore(model gallery): add qwerus-7b
  gallery/index.yaml
Labels: area/ai-model

#4610 chore(model gallery): add l3.3-ms-nevoria-70b
  gallery/index.yaml
Labels: area/ai-model

#4613 chore(model gallery): add uwu-7b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4614 chore(model gallery): add drt-o1-14b
  gallery/index.yaml
Labels: area/ai-model

#4615 chore(model gallery): add vikhr-qwen-2.5-1.5b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4616 feat(tts): Add Kokoro backend
  Dockerfile
  Makefile
  backend/python/kokoro/Makefile
  backend/python/kokoro/backend.py
  backend/python/kokoro/install.sh
  backend/python/kokoro/istftnet.py
  backend/python/kokoro/kokoro.py
  backend/python/kokoro/models.py
  backend/python/kokoro/plbert.py
  backend/python/kokoro/protogen.sh
  backend/python/kokoro/requirements-cpu.txt
  backend/python/kokoro/requirements-cublas11.txt
  backend/python/kokoro/requirements-cublas12.txt
  backend/python/kokoro/requirements-hipblas.txt
  backend/python/kokoro/requirements-intel.txt
  backend/python/kokoro/requirements.txt
  backend/python/kokoro/run.sh
  backend/python/kokoro/test.sh
  pkg/model/loader.go
Labels: enhancement, dependencies

#4619 chore(vall-e-x): Drop backend
  .github/dependabot.yml
  .github/workflows/test-extra.yml
  Dockerfile
  Makefile
  backend/python/vall-e-x/.gitignore
  backend/python/vall-e-x/Makefile
  backend/python/vall-e-x/README.md
  backend/python/vall-e-x/backend.py
  backend/python/vall-e-x/install.sh
  backend/python/vall-e-x/requirements-cpu.txt
  backend/python/vall-e-x/requirements-cublas11.txt
  backend/python/vall-e-x/requirements-cublas12.txt
  backend/python/vall-e-x/requirements-hipblas.txt
  backend/python/vall-e-x/requirements-intel.txt
  backend/python/vall-e-x/requirements.txt
  backend/python/vall-e-x/run.sh
  backend/python/vall-e-x/test.py
  backend/python/vall-e-x/test.sh
  core/backend/options.go
  core/config/backend_config.go
Labels: breaking-change

#4620 feat(transformers): merge musicgen functionalities to a single backend
  .bruno/LocalAI Test Requests/tts/musicgen.bru
  .github/dependabot.yml
  .github/workflows/test-extra.yml
  Dockerfile
  Makefile
  backend/python/transformers-musicgen/Makefile
  backend/python/transformers-musicgen/README.md
  backend/python/transformers-musicgen/backend.py
  backend/python/transformers-musicgen/install.sh
  backend/python/transformers-musicgen/requirements-cpu.txt
  backend/python/transformers-musicgen/requirements-cublas11.txt
  backend/python/transformers-musicgen/requirements-cublas12.txt
  backend/python/transformers-musicgen/requirements-hipblas.txt
  backend/python/transformers-musicgen/requirements-intel.txt
  backend/python/transformers-musicgen/requirements.txt
  backend/python/transformers-musicgen/run.sh
  backend/python/transformers-musicgen/test.py
  backend/python/transformers-musicgen/test.sh
  backend/python/transformers/backend.py
  backend/python/transformers/requirements.txt
  backend/python/transformers/test.py
Labels: enhancement, breaking-change

#4577 feat: add machine tag and inference timings
  backend/backend.proto
  backend/cpp/llama/grpc-server.cpp
  core/backend/llm.go
  core/cli/run.go
  core/config/application_config.go
  core/http/app.go
  core/http/endpoints/localai/tts.go
  core/http/endpoints/localai/vad.go
  core/http/endpoints/openai/chat.go
  core/http/endpoints/openai/completion.go
  core/http/endpoints/openai/edit.go
  core/http/endpoints/openai/inference.go
  core/http/endpoints/openai/list.go
  core/http/routes/openai.go
  core/schema/openai.go
Labels: enhancements

#4627 Extra-Usage and Machine-Tag docs
  core/cli/run.go
  core/http/endpoints/openai/chat.go
  core/http/endpoints/openai/completion.go
  core/http/endpoints/openai/edit.go
  docs/content/docs/advanced/advanced-usage.md
Labels: enhancements

#4628 chore(llama.cpp): update dependency
  Makefile
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#4624 feat(transformers): merge sentencetransformers backend
  .github/workflows/test-extra.yml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  backend/python/sentencetransformers/Makefile
  backend/python/sentencetransformers/README.md
  backend/python/sentencetransformers/backend.py
  backend/python/sentencetransformers/install.sh
  backend/python/sentencetransformers/requirements-cpu.txt
  backend/python/sentencetransformers/requirements-cublas11.txt
  backend/python/sentencetransformers/requirements-cublas12.txt
  backend/python/sentencetransformers/requirements-hipblas.txt
  backend/python/sentencetransformers/requirements-intel.txt
  backend/python/sentencetransformers/requirements.txt
  backend/python/sentencetransformers/run.sh
  backend/python/sentencetransformers/test.py
  backend/python/sentencetransformers/test.sh
  backend/python/transformers/backend.py
  backend/python/transformers/requirements-cpu.txt
  backend/python/transformers/requirements-cublas11.txt
  backend/python/transformers/requirements-cublas12.txt
  backend/python/transformers/requirements-hipblas.txt
  backend/python/transformers/requirements-intel.txt
  backend/python/transformers/test.py
  core/http/app_test.go
  pkg/model/initializers.go
  tests/models_fixtures/grpc.yaml
Labels: enhancement, breaking-change, dependencies

#4631 chore: remove deprecated tinydream backend
  Makefile
  backend/go/image/tinydream/main.go
  backend/go/image/tinydream/tinydream.go
  core/config/backend_config.go
  core/http/endpoints/openai/image.go
  docs/content/docs/getting-started/build.md
  docs/content/docs/getting-started/container-images.md
  docs/content/docs/reference/compatibility-table.md
  gallery/index.yaml
  gallery/tinydream.yaml
  go.mod
  go.sum
  pkg/model/initializers.go
  pkg/tinydream/generate.go
  pkg/tinydream/generate_unsupported.go
  pkg/tinydream/tinydream.go
Labels: area/ai-model, dependencies

#4633 chore(model gallery): add MiniCPM-V-2.6-8b-q4_K_M
  gallery/index.yaml
Labels: area/ai-model

#4637 chore(model gallery): add InternLM3-8b-Q4_K_M
  gallery/index.yaml
Labels: area/ai-model

#4638 fix(model gallery): minicpm-v-2.6 is based on qwen2
  gallery/index.yaml
Labels: area/ai-model

#4639 chore(model gallery): update icons and add missing ones
  gallery/index.yaml
Labels: area/ai-model

#4643 chore(model gallery): add l3.3-prikol-70b-v0.2
  gallery/index.yaml
Labels: area/ai-model

#4645 chore(model gallery): remove dead icons and update LLAVA and DeepSeek ones
  gallery/index.yaml
Labels: area/ai-model

#4647 chore(model gallery): add sd-3.5-large-ggml
  gallery/index.yaml
  gallery/sd-ggml.yaml
Labels: area/ai-model

#4646 chore(model gallery): add Deepseek-R1-Distill models
  gallery/index.yaml
Labels: area/ai-model

#4664 chore(model gallery): add sd-1.5-ggml and sd-3.5-medium-ggml
  gallery/index.yaml
Labels: area/ai-model

#4652 chore(stablediffusion-ncn): drop in favor of ggml implementation
  .devcontainer/docker-compose-devcontainer.yml
  .env
  .github/workflows/release.yaml
  .github/workflows/test.yml
  .vscode/launch.json
  Dockerfile
  Makefile
  aio/cpu/image-gen.yaml
  backend/go/image/stablediffusion/main.go
  backend/go/image/stablediffusion/stablediffusion.go
  core/config/backend_config.go
  core/config/config_test.go
  core/http/app_test.go
  core/http/endpoints/openai/image.go
  core/http/endpoints/openai/request.go
  core/schema/openai.go
  pkg/model/initializers.go
  pkg/stablediffusion/generate.go
  pkg/stablediffusion/generate_unsupported.go
  pkg/stablediffusion/stablediffusion.go
  tests/e2e-aio/e2e_suite_test.go
  tests/e2e-aio/e2e_test.go
Labels: breaking-change, dependencies

#4666 feat(faster-whisper): add backend
  Dockerfile
  Makefile
  backend/python/faster-whisper/Makefile
  backend/python/faster-whisper/backend.py
  backend/python/faster-whisper/install.sh
  backend/python/faster-whisper/protogen.sh
  backend/python/faster-whisper/requirements-cpu.txt
  backend/python/faster-whisper/requirements-cublas11.txt
  backend/python/faster-whisper/requirements-cublas12.txt
  backend/python/faster-whisper/requirements-hipblas.txt
  backend/python/faster-whisper/requirements-intel.txt
  backend/python/faster-whisper/requirements.txt
  backend/python/faster-whisper/run.sh
  backend/python/faster-whisper/test.sh
Labels: enhancement, dependencies

#4672 chore(parler-tts): drop backend
  Dockerfile
  Makefile
  backend/python/parler-tts/Makefile
  backend/python/parler-tts/backend.py
  backend/python/parler-tts/install.sh
  backend/python/parler-tts/protogen.sh
  backend/python/parler-tts/requirements-after.txt
  backend/python/parler-tts/requirements-cpu.txt
  backend/python/parler-tts/requirements-cublas11.txt
  backend/python/parler-tts/requirements-cublas12.txt
  backend/python/parler-tts/requirements-hipblas.txt
  backend/python/parler-tts/requirements-intel.txt
  backend/python/parler-tts/requirements.txt
  backend/python/parler-tts/run.sh
  backend/python/parler-tts/test.py
  backend/python/parler-tts/test.sh
Labels: dependencies

#4673 chore(openvoice): drop backend
  Dockerfile
  Makefile
  backend/python/openvoice/Makefile
  backend/python/openvoice/backend.py
  backend/python/openvoice/install.sh
  backend/python/openvoice/requirements-cpu.txt
  backend/python/openvoice/requirements-cublas11.txt
  backend/python/openvoice/requirements-cublas12.txt
  backend/python/openvoice/requirements-hipblas.txt
  backend/python/openvoice/requirements-intel.txt
  backend/python/openvoice/requirements.txt
  backend/python/openvoice/run.sh
  backend/python/openvoice/test.py
  backend/python/openvoice/test.sh
Labels: dependencies

#4675 chore: detect and enable avx512 builds
  Dockerfile
  Makefile
  pkg/model/initializers.go
Labels: enhancement, dependencies

#4676 chore(model gallery): add MiniCPM-o-2.6-7.6b
  gallery/index.yaml
Labels: area/ai-model

#4679 chore(model gallery): add DeepSeek R1 14b, 32b and 70b
  gallery/index.yaml
Labels: area/ai-model

#4680 chore(model gallery): add flux.1, stablediffusion and whisper icons
  gallery/index.yaml
Labels: area/ai-model

#4686 chore(model gallery): update deepseek-r1 prompt template
  gallery/deepseek-r1.yaml
  gallery/index.yaml
Labels: area/ai-model

#4687 chore(model gallery): add lamarck-14b-v0.7
  gallery/index.yaml
Labels: area/ai-model

#4688 chore(model gallery): add art-v0-3b
  gallery/index.yaml
Labels: area/ai-model

#4691 chore(model gallery): add l3.3-nevoria-r1-70b
  gallery/index.yaml
Labels: area/ai-model

#4692 chore(model gallery): add dumpling-qwen2.5-32b
  gallery/index.yaml
Labels: area/ai-model

#4693 chore(model gallery): add deepseek-r1-qwen-2.5-32b-ablated
  gallery/index.yaml
Labels: area/ai-model

#4696 chore(model gallery): add confucius-o1-14b
  gallery/index.yaml
Labels: area/ai-model

#4697 chore(model gallery): add fuseo1-deepseekr1-qwen2.5-coder-32b-preview-v0.1
  gallery/index.yaml
Labels: area/ai-model

#4698 chore(model gallery): add fuseo1-deepseekr1-qwen2.5-instruct-32b-preview
  gallery/index.yaml
Labels: area/ai-model

#4699 chore(model gallery): add fuseo1-deepseekr1-qwq-32b-preview
  gallery/index.yaml
Labels: area/ai-model

#4700 feat: function argument parsing using named regex
  pkg/functions/parse.go
Labels: enhancement

#4707 chore(model gallery): add specific message templates for llama3.2 based models
  gallery/index.yaml
  gallery/llama3.2-quantized.yaml
Labels: area/ai-model

#4715 chore: drop embedded models
  Makefile
  core/application/startup.go
  core/cli/models.go
  core/cli/run.go
  core/config/application_config.go
  core/services/gallery.go
  docs/content/docs/advanced/run-other-models.md
  docs/content/docs/getting-started/container-images.md
  embedded/embedded.go
  embedded/model_library.yaml
  embedded/models/all-minilm-l6-v2.yaml
  embedded/models/animagine-xl.yaml
  embedded/models/bakllava.yaml
  embedded/models/bark.yaml
  embedded/models/cerbero.yaml
  embedded/models/codellama-7b-gguf.yaml
  embedded/models/codellama-7b.yaml
  embedded/models/coqui.yaml
  embedded/models/dolphin-2.5-mixtral-8x7b.yaml
  embedded/models/hermes-2-pro-mistral.yaml
  embedded/models/llama3-instruct.yaml
  embedded/models/llava-1.5.yaml
  embedded/models/llava-1.6-mistral.yaml
  embedded/models/llava-1.6-vicuna.yaml
  embedded/models/llava.yaml
  embedded/models/mamba-bagel.yaml
  embedded/models/mamba-chat.yaml
  embedded/models/mistral-openorca.yaml
  embedded/models/mixtral-instruct.yaml
  embedded/models/phi-2-chat.yaml
  embedded/models/phi-2-orange.yaml
  embedded/models/rhasspy-voice-en-us-amy.yaml
  embedded/models/tinyllama-chat.yaml
  embedded/models/transformers-tinyllama.yaml
  embedded/models/vall-e-x.yaml
  embedded/models/whisper-base.yaml
  pkg/startup/model_preload.go
  pkg/startup/model_preload_test.go
  webui_static.yaml
Labels: breaking-change, dependencies

#4718 chore(model gallery): add virtuoso-lite
  gallery/index.yaml
Labels: area/ai-model

#4719 chore(model gallery): add selene-1-mini-llama-3.1-8b
  gallery/index.yaml
Labels: area/ai-model

#4720 chore(model gallery): add openthinker-7b
  gallery/index.yaml
Labels: area/ai-model

#4725 chore(model gallery): add mistral-small-24b-instruct-2501
  gallery/index.yaml
Labels: area/ai-model

#4726 chore(model gallery): add tinyswallow-1.5b-instruct
  gallery/index.yaml
Labels: area/ai-model

#4727 chore(model gallery): add taid-llm-1.5b
  gallery/index.yaml
Labels: area/ai-model
