Repository mudler/LocalAI, pull requests merged in 2025-08, with the labels that each got.

#5964 chore(build): Rename sycl to intel
  .github/workflows/image.yml
  Dockerfile
  Makefile
Labels: dependencies

#5986 chore(model gallery): add openai_gpt-oss-20b-neo
  gallery/index.yaml
Labels: area/ai-model

#5985 fix(harmony): improve template by adding reasoning effort and system_prompt
  gallery/harmony.yaml
Labels: area/ai-model

#5987 chore(model gallery): add qwen_qwen3-4b-instruct-2507
  gallery/index.yaml
Labels: area/ai-model

#6001 chore(deps): bump edgevpn
  go.mod
  go.sum
Labels: dependencies

#6004 feat(diffusers): add builds for nvidia-l4t
  .github/workflows/backend.yml
  Dockerfile
  Makefile
  backend/index.yaml
  backend/python/common/libbackend.sh
  backend/python/diffusers/requirements-l4t.txt
Labels: enhancement, dependencies

#6007 chore(model gallery): add impish_nemo_12b
  gallery/index.yaml
Labels: area/ai-model

#6075 chore(model gallery): add thedrummer_gemma-3-r1-12b-v1
  gallery/index.yaml
Labels: area/ai-model

#6076 chore(model gallery): add thedrummer_gemma-3-r1-4b-v1
  gallery/index.yaml
Labels: area/ai-model

#6077 chore(model gallery): add wingless_imp_8b-i1
  gallery/index.yaml
Labels: area/ai-model

#6067 chore(build): Use Purego with stablediffusion backend
  backend/go/stablediffusion-ggml/CMakeLists.txt
  backend/go/stablediffusion-ggml/Makefile
  backend/go/stablediffusion-ggml/gosd.cpp
  backend/go/stablediffusion-ggml/gosd.go
  backend/go/stablediffusion-ggml/gosd.h
  backend/go/stablediffusion-ggml/main.go
  backend/go/stablediffusion-ggml/package.sh
  go.mod
  go.sum
Labels: dependencies

#6121 feat(diffusers): add MPS version
  .github/workflows/backend_build_darwin.yml
  Makefile
  backend/index.yaml
  backend/python/diffusers/requirements-mps.txt
  backend/python/diffusers/run.sh
Labels: dependencies

#6143 chore(model gallery): add opengvlab_internvl3_5-30b-a3b
  gallery/index.yaml
Labels: area/ai-model

#6144 chore(model gallery): add opengvlab_internvl3_5-14b
  gallery/index.yaml
Labels: area/ai-model

#6158 fix: select portable environment if detected
  backend/python/common/libbackend.sh
Labels: bug

#6160 chore: stream errors while streaming SSE
  core/http/endpoints/openai/chat.go
  core/http/endpoints/openai/completion.go
Labels: enhancement
