Repository mudler/LocalAI, pull requests merged in 2025-05, with the labels that each got.

#5285 chore(model gallery): add qwen3-30b-a3b-abliterated
  gallery/index.yaml
Labels: area/ai-model

#5286 chore(model gallery): add qwen3-8b-jailbroken
  gallery/index.yaml
Labels: area/ai-model

#5287 chore(model gallery): add fast-math-qwen3-14b
  gallery/index.yaml
Labels: area/ai-model

#5288 chore(model gallery): add microsoft_phi-4-mini-reasoning
  gallery/index.yaml
Labels: area/ai-model

#5293 chore(model gallery): add josiefied-qwen3-8b-abliterated-v1
  gallery/index.yaml
Labels: area/ai-model

#5294 chore(model gallery): add furina-8b
  gallery/index.yaml
Labels: area/ai-model

#5295 chore(model gallery): add microsoft_phi-4-reasoning-plus
  gallery/index.yaml
Labels: area/ai-model

#5296 chore(model gallery): add microsoft_phi-4-reasoning
  gallery/index.yaml
Labels: area/ai-model

#5297 chore(model gallery): add shuttleai_shuttle-3.5
  gallery/index.yaml
Labels: area/ai-model

#5298 chore(model gallery): add webthinker-qwq-32b-i1
  gallery/index.yaml
Labels: area/ai-model

#5301 chore(model gallery): add planetoid_27b_v.2
  gallery/index.yaml
Labels: area/ai-model

#5303 chore(model gallery): add comet_12b_v.5-i1
  gallery/index.yaml
Labels: area/ai-model

#5304 chore(model gallery): add amoral-qwen3-14b
  gallery/index.yaml
Labels: area/ai-model

#5306 chore(model gallery): add smoothie-qwen3-8b
  gallery/index.yaml
Labels: area/ai-model

#5307 chore(deps): bump llama.cpp to '1d36b3670b285e69e58b9d687c770a2a0a192194
  .env
  Makefile
  backend/cpp/llama/Makefile
  backend/cpp/llama/grpc-server.cpp
  backend/cpp/llama/patches/01-llava.patch
  backend/cpp/llama/prepare.sh
  backend/cpp/llama/utils.hpp
Labels: dependencies

#5311 chore(model gallery): add qwen3-30b-a1.5b-high-speed
  gallery/index.yaml
Labels: area/ai-model

#5312 chore(model gallery): add kalomaze_qwen3-16b-a3b
  gallery/index.yaml
Labels: area/ai-model

#5313 chore(model gallery): add rei-v3-kto-12b
  gallery/index.yaml
Labels: area/ai-model

#5309 fix: use rice when embedding large binaries
  .github/workflows/release.yaml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  assets.go
  core/cli/context/context.go
  core/config/application_config.go
  core/http/app_test.go
  go.mod
  go.sum
  pkg/assets/extract.go
  pkg/assets/list.go
  pkg/library/dynaload.go
  tests/e2e-aio/e2e_suite_test.go
Labels: dependencies

#5317 chore(model gallery): add allura-org_remnant-qwen3-8b
  gallery/index.yaml
Labels: area/ai-model

#5324 chore(model gallery): add huihui-ai_qwen3-14b-abliterated
  gallery/index.yaml
Labels: area/ai-model

#5325 chore(model gallery): add goekdeniz-guelmez_josiefied-qwen3-8b-abliterated-v1
  gallery/index.yaml
Labels: area/ai-model

#5326 chore(model gallery): add claria-14b
  gallery/index.yaml
Labels: area/ai-model

#5330 chore(model gallery): add qwen3-14b-griffon-i1
  gallery/index.yaml
Labels: area/ai-model

#5332 chore(model gallery): add qwen3-4b-esper3-i1
  gallery/index.yaml
Labels: area/ai-model

#5333 chore(model gallery): add servicenow-ai_apriel-nemotron-15b-thinker
  gallery/index.yaml
Labels: area/ai-model

#5335 chore(model gallery): add qwen3-14b-uncensored
  gallery/index.yaml
Labels: area/ai-model

#5337 chore(model gallery): add gemma-3-12b-fornaxv.2-qat-cot
  gallery/index.yaml
Labels: area/ai-model

#5338 chore(deps): bump whisper.cpp
  .github/workflows/bump_deps.yaml
  Makefile
  backend/go/transcribe/whisper/whisper.go
Labels: dependencies

#5344 feat(whisper.cpp): gpu support
  .github/workflows/image-pr.yml
  Makefile
Labels: enhancement, dependencies

#5347 chore(model gallery): add gryphe_pantheon-proto-rp-1.8-30b-a3b
  gallery/index.yaml
Labels: area/ai-model

#5348 chore(model gallery): add qwen_qwen2.5-vl-7b-instruct
  gallery/index.yaml
Labels: area/ai-model

#5349 chore(model gallery): add qwen_qwen2.5-vl-72b-instruct
  gallery/index.yaml
Labels: area/ai-model

#5354 chore(docs/install.sh): image changes
  README.md
  docs/content/docs/advanced/installer.md
  docs/content/docs/getting-started/container-images.md
  docs/static/install.sh
Labels: kind/documentation

#5369 chore(model gallery): add skywork_skywork-or1-32b
  gallery/index.yaml
Labels: area/ai-model

#5370 chore(model gallery): add skywork_skywork-or1-7b
  gallery/index.yaml
Labels: area/ai-model

#5371 chore(model gallery): add thedrummer_snowpiercer-15b-v1
  gallery/index.yaml
Labels: area/ai-model

#5372 chore(model gallery): add thedrummer_rivermind-lux-12b-v1
  gallery/index.yaml
Labels: area/ai-model

#5373 chore(model gallery): add primeintellect_intellect-2
  gallery/index.yaml
Labels: area/ai-model

#5376 fix: typos
  backend/go/bark/gobark.cpp
  core/http/endpoints/elevenlabs/tts.go
  core/http/endpoints/jina/rerank.go
  core/http/endpoints/localai/tts.go
  core/http/endpoints/localai/vad.go
  docs/content/docs/getting-started/build.md
  docs/content/docs/getting-started/container-images.md
  docs/content/docs/getting-started/kubernetes.md
  docs/static/install.sh
  gallery/index.yaml
  pkg/downloader/uri_test.go
  pkg/model/loader.go
  pkg/templates/evaluator.go
Labels: area/ai-model

#5379 feat(llama.cpp): upgrade and use libmtmd
  Makefile
  backend/cpp/llama/CMakeLists.txt
  backend/cpp/llama/grpc-server.cpp
  backend/cpp/llama/json.hpp
  backend/cpp/llama/prepare.sh
  backend/cpp/llama/utils.hpp
  pkg/templates/multimodal.go
  pkg/templates/multimodal_test.go
Labels: dependencies

#5393 chore(model gallery): add soob3123_grayline-qwen3-14b
  gallery/index.yaml
Labels: area/ai-model

#5394 chore(model gallery): add soob3123_grayline-qwen3-8b
  gallery/index.yaml
Labels: area/ai-model

#5411 chore(model gallery): add facebook_kernelllm
  gallery/index.yaml
Labels: area/ai-model

#5412 chore(model gallery): add smolvlm-256m-instruct
  gallery/index.yaml
  gallery/smolvlm.yaml
Labels: area/ai-model

#5413 chore(model gallery): add smolvlm-500m-instruct
  gallery/index.yaml
Labels: area/ai-model

#5414 chore(model gallery): add smolvlm-instruct
  gallery/index.yaml
Labels: area/ai-model

#5416 chore(model gallery): add smolvlm2-500m-video-instruct
  gallery/index.yaml
Labels: area/ai-model

#5427 chore(model gallery): add nvidia_llama-3.1-nemotron-nano-4b-v1.1
  gallery/index.yaml
Labels: area/ai-model

#5428 chore(model gallery): add mistralai_devstral-small-2505
  gallery/index.yaml
Labels: area/ai-model

#5429 chore(model gallery): add delta-vector_archaeo-12b-v2
  gallery/index.yaml
Labels: area/ai-model

#5443 chore(model gallery): add arliai_qwq-32b-arliai-rpr-v4
  gallery/index.yaml
Labels: area/ai-model

#5444 chore(model gallery): add whiterabbitneo_whiterabbitneo-v3-7b
  gallery/index.yaml
Labels: area/ai-model

#5392 feat: Realtime API support reboot
  Dockerfile
  Makefile
  backend/backend.proto
  backend/go/vad/silero/vad.go
  core/backend/llm.go
  core/config/backend_config.go
  core/http/app.go
  core/http/endpoints/openai/realtime.go
  core/http/endpoints/openai/realtime_model.go
  core/http/endpoints/openai/types/realtime.go
  core/http/routes/openai.go
  go.mod
  go.sum
  pkg/audio/audio.go
  pkg/grpc/backend.go
  pkg/sound/float32.go
  pkg/sound/int16.go
  pkg/utils/ffmpeg.go
Labels: dependencies

#5460 chore(model gallery): add medgemma-4b-it
  gallery/index.yaml
Labels: area/ai-model

#5461 chore(model gallery): add medgemma-27b-text-it
  gallery/index.yaml
Labels: area/ai-model

#5462 chore(model gallery): add allura-org_q3-30b-a3b-pentiment
  gallery/index.yaml
Labels: area/ai-model

#5466 feat(llama.cpp): add support for audio input
  backend/cpp/llama/grpc-server.cpp
  core/http/middleware/request.go
  pkg/templates/multimodal.go
  pkg/templates/multimodal_test.go
Labels: enhancement

#5513 chore(model gallery): add qwen2.5-omni-7b
  gallery/index.yaml
Labels: area/ai-model

#5516 chore(model gallery): add pku-ds-lab_fairyr1-14b-preview
  gallery/index.yaml
Labels: area/ai-model

#5527 chore(deps): bump llama.cpp to 'e83ba3e460651b20a594e9f2f0f0bffb998d3ce1
  Makefile
  backend/cpp/llama/CMakeLists.txt
  backend/cpp/llama/grpc-server.cpp
Labels: dependencies

#5524 feat(chatterbox): add new backend
  .github/workflows/test-extra.yml
  Dockerfile
  Makefile
  backend/python/chatterbox/Makefile
  backend/python/chatterbox/backend.py
  backend/python/chatterbox/install.sh
  backend/python/chatterbox/requirements-cpu.txt
  backend/python/chatterbox/requirements-cublas11.txt
  backend/python/chatterbox/requirements-cublas12.txt
  backend/python/chatterbox/requirements-hipblas.txt
  backend/python/chatterbox/requirements-intel.txt
  backend/python/chatterbox/requirements.txt
  backend/python/chatterbox/run.sh
  backend/python/chatterbox/test.py
  backend/python/chatterbox/test.sh
Labels: dependencies

#5526 feat(ui): add audio upload button in chat view
  core/http/static/chat.js
  core/http/views/chat.html
  go.mod
  go.sum
  pkg/utils/base64.go
Labels: dependencies

#5552 chore(deps): bump llama.cpp to 'e562eece7cb476276bfc4cbb18deb7c0369b2233'
  Makefile
  backend/cpp/llama/prepare.sh
Labels: dependencies
