Repository mudler/LocalAI, pull requests merged in 2025-07, with the labels that each got.

#5803 chore(model gallery): add compumacy-experimental-32b
  gallery/index.yaml
Labels: area/ai-model

#5802 feat(whisper): Enable SYCL
  Makefile
Labels: dependencies

#5832 chore(model gallery): add microsoft_nextcoder-32b
  gallery/index.yaml
Labels: area/ai-model

#5833 chore(model gallery): add huihui-ai_huihui-gemma-3n-e4b-it-abliterated
  gallery/index.yaml
Labels: area/ai-model

#5834 chore(model gallery): add mistralai_devstral-small-2507
  gallery/index.yaml
Labels: area/ai-model

#5837 chore(model gallery): add nvidia_llama-3_3-nemotron-super-49b-genrm-multilingual
  gallery/index.yaml
Labels: area/ai-model

#5842 chore(model gallery): add google_medgemma-4b-it
  gallery/index.yaml
Labels: area/ai-model

#5843 chore(model gallery): add google_medgemma-27b-it
  gallery/index.yaml
Labels: area/ai-model

#5847 chore(model gallery): add zhi-create-qwen3-32b-i1
  gallery/index.yaml
Labels: area/ai-model

#5863 feat: split whisper from main binary
  .github/workflows/backend.yml
  .github/workflows/bump_deps.yaml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  backend/Dockerfile.go
  backend/go/whisper/Makefile
  backend/go/whisper/main.go
  backend/go/whisper/package.sh
  backend/go/whisper/run.sh
  backend/go/whisper/whisper.go
  backend/index.yaml
Labels: dependencies

#5884 chore(model gallery): add dream-org_dream-v0-instruct-7b
  gallery/index.yaml
Labels: area/ai-model

#5886 chore(model gallery): add menlo_lucy
  gallery/index.yaml
Labels: area/ai-model

#5914 fix(ci): add nvidia-l4t capability to l4t images
  Dockerfile
Labels: bug

#5936 chore(model gallery): add qwen_qwen3-30b-a3b-instruct-2507
  gallery/index.yaml
Labels: area/ai-model

#5939 chore(model gallery): add qwen_qwen3-30b-a3b-thinking-2507
  gallery/index.yaml
Labels: area/ai-model

#5935 feat(stablediffusion-ggml): add support to ref images (flux Kontext)
  backend/backend.proto
  backend/go/stablediffusion-ggml/gosd.cpp
  backend/go/stablediffusion-ggml/gosd.go
  backend/go/stablediffusion-ggml/gosd.h
  core/backend/image.go
  core/http/endpoints/openai/image.go
  core/schema/openai.go
  gallery/index.yaml
Labels: area/ai-model

#5947 chore(model gallery): add flux.1-dev-ggml-q8_0
  gallery/index.yaml
Labels: area/ai-model
