Repository mudler/LocalAI, pull requests merged in 2025-09, with the labels that each got.

#6164 chore(ci): Build some Go based backends on Darwin
  .github/workflows/backend.yml
  .github/workflows/backend_build_darwin.yml
  .github/workflows/backend_pr.yml
  Makefile
  backend/go/stablediffusion-ggml/.gitignore
  backend/go/stablediffusion-ggml/CMakeLists.txt
  backend/go/stablediffusion-ggml/Makefile
  backend/go/stablediffusion-ggml/package.sh
  backend/go/whisper/CMakeLists.txt
  backend/go/whisper/Makefile
  backend/go/whisper/package.sh
  scripts/build/golang-darwin.sh
  scripts/changed-backends.js
Labels: dependencies

#6187 chore(model gallery): add nousresearch_hermes-4-70b
  gallery/index.yaml
Labels: area/ai-model

#6188 chore(model gallery): add aurore-reveil_koto-small-7b-it
  gallery/index.yaml
Labels: area/ai-model

#6197 chore(model gallery): add nousresearch_hermes-4-14b
  gallery/index.yaml
Labels: area/ai-model

#6205 chore(model gallery): add MiniCPM-V-4.5-8b-q4_K_M
  gallery/index.yaml
Labels: area/ai-model

#6259 fix(llama-cpp): correctly calculate embeddings
  Makefile
  backend/cpp/llama-cpp/grpc-server.cpp
  core/http/app_test.go
  core/http/http_suite_test.go
  tests/e2e-aio/e2e_test.go
Labels: bug, dependencies

#6267 chore(model gallery): add baidu_ernie-4.5-21b-a3b-thinking
  gallery/index.yaml
Labels: area/ai-model

#6349 chore(deps): bump llama.cpp to '72b24d96c6888c609d562779a23787304ae4609c'
  backend/cpp/llama-cpp/Makefile
Labels: dependencies
